@*START ASSESSMENT PROCRASINATOR*@
<div class="template" id="assessment-procrasinator-container" style="display:none;">
    <table class="zebra">
        <thead>
            <tr>
                <th>Statement</th>
                <th class="template header-procrasinator" style="display:none;">XX</th>
            </tr>
        </thead>
        <tbody>
            <tr class="template row-procrasinator" style="display:none;">
                <td class="statement-procrasinator"></td>
                <td class="template procrasinator-word" style="display:none;">
                    <input type="radio" class="input-procrasinator" name="input-procrasiantor" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*END ASSESSMENT PROCRASINATOR*@