@*START ASSESSMENT INTELLIGENCE*@
<div class="template" id="assessment-intelligence-container" style="display:none;">
    <div class="statement-intelligence template" style="display:none;">
        <div class="row">
            <div class="col-md-1">
                <span class="statement-intelligence-no">XX</span>
            </div>

            <div class="col-md-11">
                <p class="statement-intelligence-value">Statement Intelligence</p>
            </div>
        </div>
        <div id="statement-detail-intelligence-container">
            <div class="statement-detail-intelligence template" style="display : none;">
                <div class="row">
                    <div class="col-md-1 center-vertical" style="text-align:right;">
                        <div>
                            <span class="statement-detail-intelligence-no">XX</span>
                        </div>
                    </div>
                    <div class="col-md-8 center-vertical" style="text-align: left;">
                        <span class="statement-detail-intelligence-value"></span>
                    </div>
                    <div class="col-md-3">
                        <span class="custom-sensory">
                            <select name="select-score-statement-intelligence"></select>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*END ASSESSMENT INTELLIGENCE*@