@*START ASSESSMENT SENSORY*@
<div class="template" id="assessment-sensory-container" style="display:none;">
    <table class="zebra">
        <thead>
            <tr>
                <th>Statement</th>
                <th>Type</th>
                <th class="template header-sensory" style="display:none;">XX</th>
            </tr>
        </thead>
        <tbody>
            <tr class="template row-sensory" style="display:none;">
                <td class="statement-sensory"></td>
                <td class="sensory"></td>
                <td class="template sensory-word" style="display:none;">
                    <input type="radio" class="input-sensory" name="input-sensory" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
@*END ASSESSMENT SENSORY*@