@{
    /**/
    ViewBag.Title = "Binus University";
}


@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/home.css">
}


<div class="site-content" id="site-content">
    <section class="user-content">
        <div class="container">
            <div class="row">
                <div class="column two-thirds">
                    <section class="user-profile">
                        <div class="thumbnail">
                            <span class="avatar">
                                <img src="images/statics/avatar.png" alt="">
                            </span>
                        </div>
                        <div class="details">
                            <div class="field">
                                <h2 class="student-name">Username</h2>
                                <span class="position">Position</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <div class="main-content has-widget" id="main-content">
        <div class="container">
            <div class="widget-parent" id="widget-parent">
                <div class="box-container">
                    <div class="row text-center">
                        <h1 class="widget-header-text">Header Description</h1>
                    </div>
                    <div class="row">
                        <div class="column one-third">
                            <div class="widget">
                                <!-- widget header -->
                                <div class="widget-head">
                                    <span class="head-wrap">
                                        <i class="icon icon-widget-statistic"></i>
                                        <span class="label">
                                            <span class="title">Widget Header</span>
                                            <span class="pre-title">Widget Subtitle</span>
                                        </span>
                                    </span>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-performance-meter">
                                        <div class="group-item">
                                            <div class="item">
                                                <div class="performance-meter" data-value="5" data-scale="6">
                                                    <!-- widget goes here -->
                                                    <span class="performance-legend">
                                                        <span class="score">
                                                            <span class="score-value">5</span>
                                                        </span>
                                                        <span class="state-value" style="margin-top: 15px;">
                                                            <span class="start">
                                                                @*<i class="icon icon-indicator icon-sad"></i>*@
                                                                0
                                                            </span>
                                                            <span class="end" style="margin-right: -16px;">
                                                                @*<i class="icon icon-indicator icon-smile"></i>*@
                                                                20
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-footer">
                                    <span class="text-center">Widget Description</span>
                                </div>
                                <!-- widget footer -->
                            </div>
                        </div>
                        <div class="column one-third">
                            <div class="widget">
                                <!-- widget header -->
                                <div class="widget-head">
                                    <span class="head-wrap">
                                        <i class="icon icon-widget-statistic"></i>
                                        <span class="label">
                                            <span class="title">Widget Header</span>
                                            <span class="pre-title">Widget Subtitle</span>
                                        </span>
                                    </span>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-performance-meter">
                                        <div class="group-item">
                                            <div class="item">
                                                <div class="performance-meter" data-value="5" data-scale="6">
                                                    <!-- widget goes here -->
                                                    <span class="performance-legend">
                                                        <span class="score">
                                                            <span class="score-value">5</span>
                                                        </span>
                                                        <span class="state-value" style="margin-top: 15px;">
                                                            <span class="start">
                                                                @*<i class="icon icon-indicator icon-sad"></i>*@
                                                                0
                                                            </span>
                                                            <span class="end" style="margin-right: -16px;">
                                                                @*<i class="icon icon-indicator icon-smile"></i>*@
                                                                20
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-footer">
                                    <span class="text-center">Widget Description</span>
                                </div>
                                <!-- widget footer -->
                            </div>
                        </div>
                        <div class="column one-third">
                            <div class="widget">
                                <!-- widget header -->
                                <div class="widget-head">
                                    <span class="head-wrap">
                                        <i class="icon icon-widget-statistic"></i>
                                        <span class="label">
                                            <span class="title">Widget Header</span>
                                            <span class="pre-title">Widget Subtitle</span>
                                        </span>
                                    </span>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-performance-meter">
                                        <div class="group-item">
                                            <div class="item">
                                                <div class="performance-meter" data-value="5" data-scale="6">
                                                    <!-- widget goes here -->
                                                    <span class="performance-legend">
                                                        <span class="score">
                                                            <span class="score-value">5</span>
                                                        </span>
                                                        <span class="state-value" style="margin-top: 15px;">
                                                            <span class="start">
                                                                @*<i class="icon icon-indicator icon-sad"></i>*@
                                                                0
                                                            </span>
                                                            <span class="end" style="margin-right: -16px;">
                                                                @*<i class="icon icon-indicator icon-smile"></i>*@
                                                                20
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-footer">
                                    <span class="text-center">Widget Description</span>
                                </div>
                                <!-- widget footer -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="column two-thirds">
                        <div class="widget-parent">
                            <div class="widget">
                                <!-- widget header -->
                                <div class="widget-head">
                                    <span class="head-wrap">
                                        <i class="icon icon-widget-statistic"></i>
                                        <span class="label">
                                            <span class="title">Widget Header</span>
                                            <span class="pre-title">Widget Subtitle</span>
                                        </span>
                                    </span>
                                </div>

                                <div class="widget-body">
                                    <!-- widget bar meter -->
                                    <div class="widget-bar-meter">
                                        <div class="bar-meter" data-percentage="90">
                                            <div class="bar-scale">
                                                <div class="the-bar">
                                                    <span class="the-value">999.999.999</span>
                                                </div>
                                                <ul class="bar-x-scales">
                                                    <li>
                                                        <span class="value">0</span>
                                                        <span class="label"></span>
                                                    </li>
                                                    <li>
                                                        <span class="value">500</span>
                                                        <span class="label">recipient</span>
                                                    </li>
                                                    <li>
                                                        <span class="value">1</span>
                                                        <span class="label"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-footer">
                                    <span class="text-center">Widget Description</span>
                                </div>
                                <!-- widget footer -->
                            </div>
                        </div>
                    </div>

                    <div class="column one-third">
                        <div class="widget auto-height">
                            <!-- widget header -->
                            <div class="widget-head">
                                <span class="head-wrap">
                                    <i class="icon icon-widget-statistic"></i>
                                    <span class="label">
                                        <span class="title">Widget Header</span>
                                        <span class="pre-title">Widget Subtitle</span>
                                    </span>
                                </span>
                            </div>

                            <div class="widget-body">
                                <!-- widget news -->
                                <div class="widget-news">
                                    <div class="news-item">
                                        <span class="details">
                                            <h3 class="title">
                                                Pengumuman Jadwal Briefing...
                                            </h3>
                                            <span class="credential">12 December 2014</span>
                                        </span>
                                    </div>
                                    <div class="news-item">
                                        <span class="details">
                                            <h3 class="title">
                                                Pengumuman Jadwal Briefing...
                                            </h3>
                                            <span class="credential">12 December 2014</span>
                                        </span>
                                    </div>
                                    <div class="news-item">
                                        <span class="details">
                                            <h3 class="title">
                                                Pengumuman Jadwal Briefing...
                                            </h3>
                                            <span class="credential">12 December 2014</span>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <div class="widget-footer has-navigation">
                                <span class="text-right">
                                    <span class="nav-container">
                                        <a href="#" class="btn-nav up widget-scrolled-up"></a>
                                        <a href="#" class="btn-nav down widget-scrolled-down"></a>
                                    </span>
                                </span>
                            </div>
                            <!-- widget footer -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <div class="widget auto-height">
                            <div class="widget-head">
                                <span class="head-wrap">
                                    <i class="icon icon-widget-achievement"></i>
                                    <span class="label">
                                        <span class="title">Widget Auto Height</span>
                                        <span class="pre-title">Widget Subtitle</span>
                                    </span>
                                </span>
                            </div>
                            <div class="widget-body">
                                <table class="zebra">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Milan Baros</td>
                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Milan Baros</td>
                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Milan Baros</td>
                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Milan Baros</td>
                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Milan Baros</td>
                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Milan Baros</td>
                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Milan Baros</td>
                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Milan Baros</td>
                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Milan Baros</td>
                                            <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagination">
                                    <span class="page-display">Page 7 of 10</span>
                                    <span class="page-number">
                                        <a href="#" class="item">1</a>
                                        <a href="#" class="item">«</a>
                                        <a href="#" class="item">5</a>
                                        <a href="#" class="item">6</a>
                                        <span class="item current">7</span>
                                        <a href="#" class="item">8</a>
                                        <a href="#" class="item">9</a>
                                        <a href="#" class="item">»</a>
                                        <a href="#" class="item">10</a>
                                    </span>
                                    <span class="page-button">
                                        <a href="#" class="prev"></a>
                                        <a href="#" class="next"></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*POP UP SHOW PARTICIPANT*@
<div style="display:none;">
    <div id="testfak" style="width:800px;height:600px; background-color:white;padding:0 20px;">
        <h1 style="text-align:center;">[Judul Test]</h1>
        <div class="freeze-pane" data-fixed-left="2" data-fixed-right="1" data-height="300">
            <table class="zebra">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>NIM</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Your Intelligence Status</td>
                        <td>1901595855</td>
                        <td>Verbal Intelligence</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Your Intelligence Status</td>
                        <td>1902001220</td>
                        <td>Intrapersonal</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Your Intelligence Status</td>
                        <td>1901598955</td>
                        <td>Interpersonal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




@*@section scripts
    {
        <script type="text/javascript">


            $.ajax
            ({
                method: "GET",
                url: "/api/assessment/getAllResult",

                success: function (data) {
                  //  console.log(data);
                    data.forEach(function (value)
                    {

                        console.log(value.AssessmentIntelligence.Title);
                    });





                }
            });



        </script>
    }*@
