@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Favicon -->
    <link rel="Shortcut Icon" type="image/png" href="~/Content/images/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/themes/university/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/master.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/grid.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/popup.css">

    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.js"></script>
</head>
<body>
    <div class="main-container">
        <section class="background">
            <div class="overlay"></div>
        </section>

        <section class="wrapper">
            <div class="login">
                <div class="login-head">
                    <div class="ribbon"></div>
                    <div class="logo">
                        <a class="site-name">
                            <img src="~/Content/images/logo.png" alt="Logo">
                        </a>
                        <span class="site-description">
                            People Innovation Excellence
                        </span>
                    </div>
                </div>
                <div class="login-body">
                    <form class="custom-form">

                        <div class="error-text" style="color: red;display:none;">Invalid username or password!</div>

                        <p>
                            <span class="custom-textbox">
                                <span class="icon-wrap">
                                    <i class="icon icon-user"></i>
                                </span>
                                <input type="text" name="input-username" placeholder="Username" />
                            </span>
                        </p>

                        <p>
                            <span class="custom-textbox">
                                <span class="icon-wrap">
                                    <i class="icon icon-pass"></i>
                                </span>
                                <input type="password" name="input-password" placeholder="Password" />
                            </span>
                        </p>

                        <p>
                            <button id="button-submit" class="button button-primary wide">Login</button>
                        </p>

                        <p>
                            <div class="text-center" style="color: red">
                                <strong id="error">
                                </strong>
                            </div>
                        </p>
                    </form>
                </div>
            </div>
        </section>
    </div>

    @RenderPage("~/Views/Shared/Popup/PopupLoading.cshtml")

    <script type="text/javascript">
        const urlBimay="http://bm5dev.binus.ac.id/adapi/api/activedirectory/Validate?key=4k00Mw04N6h9MkxZuX3217vnsmurhptKZhdZjFq5W43zDS2lj4CRZ7RyCfjwTK71";

        $("button").click(function(event) { event.preventDefault(); });

        $("#button-submit").click(function() {
            $.ajax({
                headers: {
                    "Content-Type": "application/json"
                },
                method: "POST",
                url: urlBimay,
                data: JSON.stringify({
                    "userName": $("input[name='input-username']").val(),
                    "Password": $("input[name='input-password']").val()
                }),
                beforeSend: function() {
                    $.fancybox("#popup_loading");
                },
                success: function(data) {
                    if(data==="1") {
                        $.ajax({
                            method: "POST",
                            url: "/token",
                            data:
                            {
                                username: $("input[name='input-username']").val(),
                                password: $("input[name='input-password']").val(),
                                grant_type: "password"
                            },
                            success: function(data) {
                                sessionStorage.setItem("access_token",data.access_token);
                                window.location.href="/Account/Home";

                                $.ajaxSetup({
                                    headers: { "Authorization": "Bearer "+sessionStorage.getItem("access_token") }
                                });
                            }
                        });
                    }
                    else {
                        $("input[name='input-username']").val("");
                        $("input[name='input-password']").val("");
                    }
                }
            });
        });
    </script>

    <!-- Vendor -->
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery-ui/jquery.ui.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.browser.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.fancyfields.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.mcustomscrollbar.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/datatables/jquery.datatables.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/datatables/jquery.datatables.fixedcolumns.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.chosen.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.qtip.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/raphael.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/js/development/lib/formalhaut/build/formalhaut.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/multiselect.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/autosize.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery-ui/jquery.ui.timepicker.js"></script>

    <!-- Calendar -->
    <script type="text/javascript" src="~/Content/js/development/vendor/date.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/jquery.formbubble.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/fullcalendar.js"></script>
    <script type="text/javascript" src="~/Content/js/development/vendor/fullcalendar/fullcalendar.viewmore.js"></script>

    <!-- Global -->
    <script type="text/javascript" src="~/Content/js/development/script.js"></script>
    <script type="text/javascript" src="~/Content/js/development/script.navigation.js"></script>

    <!-- Plugins -->
    <script type="text/javascript" src="~/Content/js/development/plugins/accordion-toggle.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/advanced-combobox.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/body-navigation.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/combobox.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/datepicker.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/editor.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/freeze-pane.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/fullcalendar.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/scrollbar.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/tabulation.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/tooltip.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/uploader.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/widgets.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/multiselect.js"></script>
    <script type="text/javascript" src="~/Content/js/development/plugins/chatting.js"></script>
</body>
</html>




