.assessment
{
    margin-top : 35px;
    margin-bottom : 35px;
}

.custom-statement {
    display: block;
    position: relative;
}



.custom-statement .icon-area {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    content: '';
    width: 40px;
    height: 40px;
    background-position: 0 -342px;
    cursor: pointer;
    background-color: #aaaaaa;
    background-repeat: no-repeat;
}

.custom-statement>.icon-area>.icon-reject {
    display: inline-block;
    width: 20px;
    margin: 10px;
    background-position: 0px -144px;
}

.popup-content-dialog .popup-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.score {
    margin-top: 15px !important;
}

.popup-wrapper .action .popup-button-wrapper
{
    padding-left : 0px !important;
    padding-right: 0px !important;
}

.disabled-area{
    pointer-events: none;
    opacity : 0.5;
    cursor: not-allowed;
}


/*START INTELLIGENCE*/
.assessment-intelligence .statement-intelligence{
    margin-top : 30px !important;
}

.statement-details-container {
    margin-top: 20px;
}

.statement-details-container > .statement-detail {
    margin-top: 10px;
}

.assessment-intelligence .scores-intelligence {
    margin-top: 100px;
}

.score .score_content {
    padding-left: 20px;
    padding-right: 20px;
}
/*END INTELLIGENCE*/

/*START SENSORY*/
.assessment-sensory .statement-sensory {
    margin-top: 10px !important;
}



.assessment-sensory .scores-sensory {
    margin-top: 100px;
}

.score .score_content {
    padding-left: 20px;
    padding-right: 20px;
}

.assessment-sensory .sensory {
    margin-top: 10px !important;
}
/*END SENSORY*/

/*START PROCRASINATOR*/

.agreements
{
   margin-top : 100px;
}

.assessment-procrasinator .statement-procrasinator {
    margin-top: 10px !important;
}

.assessment-procrasinator .agreement{
    margin-top : 10px !important;
}

.assessment-procrasinator .scores-procrasinator
{
    margin-top: 100px;
}

/*END PROCRASINATOR*/