@{
    ViewBag.Title = "Binus University";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/AddAssessment.css">
}

<div class="site-content" id="site-content">
    <section class="breadcrumb">
        <div class="container">
            <div class="wrap">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Assessment</a></li>
                    <li>Manage Assessment</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="page-heading">
        <div class="container">
            <h1>Manage Assessment</h1>
        </div>
    </section>

    <div class="main-content has-widget" id="main-content">
        <div class="container">
            <div class="box-container">
                <div class="single-content popup-content" id="target-id">
                    <div class="page-sub-heading">
                        <div class="row" style="height:30px;">
                            <div class="column two-thirds ">
                                <h2 id="page" class="page-heading" style="line-height:40px;">Assessment</h2>
                            </div>
                            <div class="column one-third">
                                <p style="float:right;">
                                    <a href="@Url.Action("AddAssessment", "Assessment")" class="button button-primary" id="button_add">Add Assessment</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="freeze-pane" style="overflow-y : hidden !important">
                        <table class="bordered zebra" id="assessment-table">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>TITLE</th>
                                    <th>TYPE</th>
                                    <th>TRANSACTION DATE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody id="assessment-container">
                                <tr class="template assessment" style="display:none;">
                                    <td class="assessment-no">XX</td>
                                    <td class="assessment-title">XX</td>
                                    <td class="assessment-type">XX</td>
                                    <td class="assessment-transaction-date">XX</td>
                                    <td class="assessment-action">
                                        <span class="assessment-edit">
                                            <i class="icon-button icon-edit button-edit-assessment"></i>
                                            <span class="assessment-id" style="display: none">XX</span>
                                        </span>
                                        <span class="assessment-delete">
                                            <i class="icon-button icon-trash button-delete-assessment"></i>
                                            <span class="assessment-id" style="display: none">XX</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/Popup/PopupConfirmation.cshtml")


@section scripts
{
    <script type="text/javascript">

        const assessmentContainer=$("#assessment-container");
        const dataTable=$("#assessment-table");

        $(document).ready(function() {
            $.ajaxSetup({
                headers: { "Authorization": "Bearer "+sessionStorage.getItem("access_token") }
            });

            $.ajax({
                method : "GET",
                url : "/api/assessment/getAllAssessment",
                beforeSend: function() {
                    dataTable.DataTable().clear();
                },
                success: function(data) {
                    data.forEach(function(value) {
                        let template=assessmentContainer.find(".template").first();
                        template=template.clone();
                        template.removeClass("template");
                        template.show();

                        template.find(".assessment-no").text(assessmentContainer.find(".assessment").length);
                        template.find(".assessment-title").text(value.assessmentTitle);
                        template.find(".assessment-type").text(value.assessmentType);
                        template.find(".assessment-transaction-date").text(value.lastUpdate);
                        template.find(".assessment-id").text(value.assessmentID);
                        assessmentContainer.append(template);
                        dataTable.DataTable().rows.add(template);
                    });
                    dataTable.DataTable().columns.adjust().draw();
                    assessmentContainer.find(".template").remove();
                }
            });
        });


        $(document).on("click",".button-edit-assessment",function() {
            let currentAssessment = $(this).parents(".assessment");
            let assessmentID = currentAssessment.find(".assessment-id").first().text();
            
            localStorage.setItem("assessmentID",assessmentID);
            window.location.href="/assessment/UpdateAssessment";
        });

        $(document).on("click",".button-delete-assessment",function() {
            let currentAssessment=$(this).parents(".assessment");
            currentAssessment.addClass("selected");
            let assessmentID=currentAssessment.find(".assessment-id").first().text();
            $.ajax({
                method : "DELETE",
                url : "/api/assessment/deleteAssessment",
                data : {
                    assessmentID : assessmentID
                },
                success: function(){
                    dataTable.DataTable().rows(".selected").remove().draw();
                },
                error : function(){
                    currentAssessment.removeClass("selected");
                }
            });
        });

        $('.freeze-pane').binus_freeze_pane({
            fixed_left: 1,
            fixed_right: 0,
            height: 300
        });
    </script>
}