
@{
    ViewBag.Title = "Manage Assessment";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/AddAssessment.css">
}

<div class="site-content" id="site-content">
    <section class="breadcrumb">
        <div class="container">
            <div class="wrap">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Assessment</a></li>
                    <li>Manage Assessment</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="page-heading">
        <div class="container">
            <h1>Manage Assessment</h1>
        </div>
    </section>

    <div class="main-content has-widget" id="main-content">
        <div class="container">
            <div class="box-container">
                <div class="single-content popup-content" id="target-id">
                    <div class="page-sub-heading">
                        <div class="row" style="height:30px;">
                            <div class="column">
                                <h2 id="page" class="page-heading" style="line-height:40px;">Assessment</h2>
                            </div>
                        </div>
                    </div>

                    <div class="freeze-pane" style="overflow-y : hidden !important">
                        <table class="bordered zebra" id="assessment-table">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>TITLE</th>
                                    <th>TYPE</th>
                                    <th>TRANSACTION DATE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody id="assessment-container">
                                <tr class="template assessment" style="display:none;">
                                    <td class="assessment-no">XX</td>
                                    <td class="assessment-title">XX</td>
                                    <td class="assessment-type">XX</td>
                                    <td class="assessment-transaction-date">XX</td>
                                    <td class="assessment-action">
                                        <span style="display:none;" class="assessment-do">
                                            <i class="icon-button icon-edit button-do-assessment"></i>
                                            <span class="transaction-id" style="display: none">XX</span>
                                        </span>
                                        <span style="display:none;" class="assessment-view">
                                            <i class="icon-button icon-view button-view-assessment"></i>
                                            <span class="transaction-id" style="display: none">XX</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>  
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-content-dialog" id="popup_confirmation" style="display:none;">
    <form>
        <p>Save confirmation</p>
        <div class="action" style="text-align:center;">
            <a href="#" class="button button-primary" id="button_yes">Yes</a>
            <a href="#" class="button button-primary" id="button_no">No</a>
        </div>
    </form>
</div>

@section scripts
{
    <script type="text/javascript">

        const assessmentContainer=$("#assessment-container");
        const dataTable = $("#assessment-table");

        $(document).ready(function(){
            $.ajax({
                method: "GET",
                url: "/api/transaction/getUserTransaction",
                beforeSend: function() {
                    dataTable.DataTable().clear();
                },
                success: function(data) {
                    data.forEach(function(value) {
                       
                        let template=assessmentContainer.find(".template").first();
                        template=template.clone();
                        template.removeClass("template");
                        template.show();

                        template.find(".assessment-no").text(assessmentContainer.find(".assessment").length);
                        template.find(".assessment-title").text(value.assessmentTitle);
                        template.find(".assessment-type").text(value.assessmentType);
                        template.find(".assessment-transaction-date").text(value.transactionDate);
                        template.find(".transaction-id").text(value.transactionID);
                        if(value.status === "finish") {
                            template.find(".assessment-view").show();
                        }
                        else {
                            template.find(".assessment-do").show();
                        }

                        assessmentContainer.append(template);
                        dataTable.DataTable().rows.add(template);
                        
                    });
                    dataTable.DataTable().columns.adjust().draw();
                    assessmentContainer.find(".template").remove();
                }
            });
        });
        
        
        $(document).on("click",".button-do-assessment",function() {
            let currentAssessment = $(this).parents(".assessment");
            let transactionID = currentAssessment.find(".transaction-id").first().text();

            $.ajax({
                method : "POST",
                url: "/api/assessment/createCurrentTransaction",
                data: {
                    transactionID: transactionID
                },
                success: function() {
                    window.location.href="/assessment/ShowAssessment";
                }
            });
        });

        $(document).on("click",".button-view-assessment",function() {
            let currentAssessment=$(this).parents(".assessment");
            let transactionID=currentAssessment.find(".transaction-id").first().text();

            $.ajax({
                method: "POST",
                url: "/api/assessment/createCurrentTransaction",
                data: {
                    transactionID: transactionID
                },
                success: function() {
                    window.location.href="/assessment/ShowAssessment";
                }
            });
        });


        $('.freeze-pane').binus_freeze_pane({
            fixed_left  : 1,  
            fixed_right : 0,  
            height      : 300    
        });
    </script>
}
