
@{
    /**/
    ViewBag.Title = "ResultPage";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/result.css">
}


<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="box-container">
            <div class="single-content popup-content" id="target-id">
                <div id="assessment-container">
                    <h1 class="tk-title current-username"></h1>
                    <blockquote>
                        <h3 class="role-title">Your Result</h3>
                        <h1 class="tk-title assessment-result"></h1>
                        <h3 class="role-description" id="descriptionTest"></h3>
                        <h3 class="tambahan"></h3>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        const assessmentContainer = $("#assessment-container");

        $(document).ready(function() {
            $.ajax({
                method: "GET",
                url: "/api/assessment/getCurrentResultAssessment",
                success: function(data) {
                    let currentUsername = data[0].nim;
                    assessmentContainer.find(".current-username").text(currentUsername);


                    if(data.length<1) {
                        data.forEach(function() {

                        });
                    }
                    else {
                        assessmentContainer.find(".assessment-result").text(data[0].resultWord);
                    }
                    
                }
            });
        });
    </script>
}
