
@{
    ViewBag.Title = "ShowAssessment";

}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/ShowAssessment.css">
}

<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="box-container">
            <div class="single-content popup-content " id="target-id">

                <div class="page-sub-heading">
                    <h1 id="titleAssessment assessment-title"></h1>
                    <p id="descriptionAssessment assessment-description"></p>
                </div>

                <div class="showassessment" id="assessment-container">

                </div>


                <p>
                    <a class="button button-orange" id="startBtn button-start">Start Assessment</a>
                    <a class="button button-secondary" id="prevBtn button-prev">Previous</a>
                    <a class="button button-primary" id="nextBtn button-next">Next</a>
                    <a class="button button-orange" id="btnFinish button-finish">Finish</a>
                </p>

                <p style="text-align:center;">
                    <a id="btnSubmit" class="button button-primary">Submit</a>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="myLoader">
    <span class="loader">
        <span class="indicator"></span>
    </span>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function (){
            $.ajax({
                method : "GET",
                url : "/api/assessment/getCurrentAssessment",
                data: {
                    assessmentID : 99
                },
                success : function(data) {
                    console.log(data);
                }
            });
        });
        
    </script>
}
