
@{
    ViewBag.Title = "ShowAssessment";

}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/Assessment.css">
}

<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="box-container">
            <div class="single-content popup-content " id="target-id">
                <div class="page-sub-heading">
                    <div class="row" style="height:30px;">
                        <div class="column">
                            <h2 id="assessment-title" class="page-heading" style="line-height:40px;"></h2>
                        </div>
                    </div>
                </div>

                <p id="assessment-description" style="text-align: justify;">
                </p>

                <div class="showassessment" id="assessment-container" style="display:none;">

                </div>

                <div class="template" id="assessment-intelligence-container" style="display:none;">
                    <div class="statement-intelligence template" style="display:none;">
                        <div class="row">
                            <div class="col-md-1">
                                <span class="statement-intelligence-no">XX</span>
                            </div>

                            <div class="col-md-11">
                                <p class="statement-intelligence-value">Statement Intelligence</p>
                            </div>
                        </div>
                        <div id="statement-detail-intelligence-container">
                            <div class="statement-detail-intelligence template" style="display : none;">
                                <div class="row">
                                    <div class="col-md-1 center-vertical" style="text-align:right;">
                                        <div>
                                            <span class="statement-detail-intelligence-no">XX</span>
                                        </div>
                                    </div>
                                    <div class="col-md-8 center-vertical" style="text-align: left;">
                                        <span class="statement-detail-intelligence-value"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="custom-sensory">
                                            <select name="select-score-statement-intelligence">
                                                @*<option disabled selected value="0"> -- SELECT AN OPTION -- </option>*@
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p style="text-align:center;">
                    <button class="button button-orange" id="button-start" style="display:none;">Start Assessment</button>
                    <button class="button button-secondary" id="button-prev" style="display:none;">Previous</button>
                    <button class="button button-primary" id="button-next" style="display:none;">Next</button>
                    <button class="button button-orange" id="button-finish" style="display:none;">Finish</button>
                </p>

                <p style="text-align:center;">
                    <button id="button-submit" class="button button-primary" style="display:none;">Submit</button>
                </p>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        const assessmentContainer=$("#assessment-container");
        const assessmentIntelligenceContainer=$("#assessment-intelligence-container");
        const ascii_A=65;
        $(document).ready(function() {
            $.ajax({
                method: "GET",
                url: "/api/assessment/getCurrentAssessment",
                success: function(data) {
                    console.log(data);
                    let assessmentID=data.assessmentID;
                    let assessmentTypeID=parseInt(data.assessmentTypeID);
                    switch(assessmentTypeID) {
                        //return assessment intelligence
                        case 1:
                            $.ajax({
                                method: "GET",
                                url: "/api/assessment/getCurrentAssessmentIntelligence",
                                data: {
                                    assessmentID: assessmentID
                                },
                                success: function(data) {
                                    $("#assessment-title").text(data.assessmentTitle);
                                    $("#assessment-description").text(data.assessmentDescription);
                                    $("#button-start").show();

                                    let currentContainer=assessmentIntelligenceContainer;
                                    currentContainer=currentContainer.clone();
                                    currentContainer.removeClass("template");
                                    currentContainer.show();

                                    assessmentContainer.append(currentContainer);

                                    let test = assessmentContainer.find("#assessment-intelligence-container").first();
                                    data.statementIntelligences.forEach(function(statementIntelligence) {
                                        let template=assessmentIntelligenceContainer.find(".template").first();
                                        template=template.clone();
                                        template.removeClass("template");
                                        

                                        template.find(".statement-intelligence-no").text(
                                            test.find(".statement-intelligence").length + ".");
                                        template.find(".statement-intelligence-value").text(
                                            statementIntelligence.statementIntelligence);

                                        statementIntelligence.statementDetailIntelligences.forEach(function(statementDetailIntelligence) {
                                            let currentDetailContainer=template.find("#statement-detail-intelligence-container").first();
                                            let templateDetail=currentDetailContainer.find(".template").first();
                                            templateDetail=templateDetail.clone();
                                            templateDetail.removeClass("template");
                                            templateDetail.show();

                                            templateDetail.find(".statement-detail-intelligence-no").text(
                                                String.fromCharCode(currentDetailContainer.find(".statement-detail-intelligence:not(.template)").length + ascii_A) + ".");
                                            templateDetail.find(".statement-detail-intelligence-value").text(statementDetailIntelligence.statementDetailIntelligence);

                                            let selectScore=templateDetail.find("select[name='select-score-statement-intelligence']");
                                            data.scoreIntelligences.forEach(function(scoreIntelligence) {
                                                selectScore.append(
                                                    "<option value='"+scoreIntelligence.scoreValue+"'>"+scoreIntelligence.scoreWord+"</option>"
                                                );
                                            });
                                            currentDetailContainer.append(templateDetail);
                                        });
                                        currentContainer.append(template);
                                    });
                                }
                            });
                            break;
                        //return assessment sensory
                        case 2:
                            $.ajax({
                                method: "GET",
                                url: "/api/assessment/getCurrentAssessmentSensory",
                                data: {
                                    assessmentID: assessmentID
                                },
                                success: function(data) {
                                    console.log(data);
                                }
                            });
                            break;
                        //return asssessment procrasinator
                        case 3:
                            break;
                    }
                }
            });
        });

        //$("#button-next,#button-prev").click(function(){
        //    let currentContainer = assessmentContainer.find("#assessment-intelligence-container").first();
        //    let assessmentIntelligences = currentContainer.find(".statement-intelligence:not(.template)");
        //    let currentStatement = currentContainer.find(".selected");
            
        //    if(currentStatement.length>1) {
        //        $("#button-prev").show();
        //    }
        //    else if(currentStatement.length==assessmentIntelligences.length) {
        //        $("#button-next").hide();
        //    }
        //});

        $("#button-start").click(function() {
            assessmentContainer.show();
            $("#button-next").show();
            //$("#button-prev").show();
            let currentContainer = assessmentContainer.find("#assessment-intelligence-container").first();
            let assessmentIntelligences = currentContainer.find(".statement-intelligence:not(.template)");
            
            assessmentIntelligences.first().addClass("selected");
            assessmentIntelligences.first().show();
            
            $(this).hide();
        });


        $("#button-next").click(function(){
            let currentContainer = assessmentContainer.find("#assessment-intelligence-container").first();
            let assessmentIntelligences=currentContainer.find(".statement-intelligence:not(.template,.selected)");
            let currentStatement = currentContainer.find(".selected");
            currentStatement.last().hide();
            
            assessmentIntelligences.first().addClass("selected");
            assessmentIntelligences.first().show();

            currentStatement=currentContainer.find(".selected");
            assessmentIntelligences = currentContainer.find(".statement-intelligence:not(.template)");

            if(assessmentIntelligences.length==currentStatement.length) {
                $(this).hide();
            }

            if(currentStatement.length > 1) {
                $("#button-prev").show();
            }
        });

        $("#button-prev").click(function(){
            let currentContainer = assessmentContainer.find("#assessment-intelligence-container").first();
            let currentStatement = currentContainer.find(".selected");
            currentStatement.last().hide();
            currentStatement.last().removeClass("selected");
            currentStatement = currentContainer.find(".selected");
            currentStatement.last().hide();
            currentStatement.last().removeClass("selected");

            let assessmentIntelligences = currentContainer.find(".statement-intelligence:not(.template,.selected)");
            assessmentIntelligences.first().show();
            assessmentIntelligences.first().addClass("selected");

            currentStatement = currentContainer.find(".selected");
            assessmentIntelligences = currentContainer.find(".statement-intelligence:not(.template)");
            console.log(currentStatement.length + " " + assessmentIntelligences.length);
            
            if(currentStatement.length<assessmentIntelligences.length) {
                $("#button-next").show();
            }

            if(currentStatement.length==1) {
                $(this).hide();
            }
        });
    </script>
}
