
@{
    ViewBag.Title = "ShowAssessment";

}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/Assessment.css">
}

<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="box-container">
            <div class="single-content popup-content " id="target-id">
                <div class="page-sub-heading">
                    <div class="row" style="height:30px;">
                        <div class="column">
                            <h2 id="assessment-title" class="page-heading" style="line-height:40px;"></h2>
                        </div>
                    </div>
                </div>

                <p id="assessment-description" style="text-align: justify;">
                </p>

                <div class="showassessment" id="assessment-container" style="display:block;">

                </div>


                @*START ASSESSMENT SENSORY*@
                <div class="template" id="assessment-sensory-container" style="display:none;">
                    <table class="zebra">
                        <thead>
                            <tr>
                                <th>Statement</th>
                                <th>Type</th>
                                <th class="template header-sensory" style="display:none;">XX</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="template row-sensory" style="display:none;">
                                <td class="statement-sensory"></td>
                                <td class="sensory"></td>
                                <td class="template sensory-word" style="display:none;">
                                    <input type="radio" class="input-sensory" name="input-sensory" /> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*END ASSESSMENT SENSORY*@

                @*START ASSESSMENT PROCRASINATOR*@
                <div class="template" id="assessment-procrasinator-container" style="display:none;">
                    <table class="zebra">
                        <thead>
                            <tr>
                                <th>Statement</th>
                                <th>Type</th>
                                <th class="template header-procrasinator" style="display:none;">XX</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="template row-procrasinator" style="display:none;">
                                <td class="statement-procrasinator"></td>
                                <td class="template procrasinator-word" style="display:none;">
                                    <input type="radio" class="input-procrasinator" name="input-procrasiantor" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*END ASSESSMENT PROCRASINATOR*@

                @*START ASSESSMENT INTELLIGENCE*@
                <div class="template" id="assessment-intelligence-container" style="display:none;">
                    <div class="statement-intelligence template" style="display:none;">
                        <div class="row">
                            <div class="col-md-1">
                                <span class="statement-intelligence-no">XX</span>
                            </div>

                            <div class="col-md-11">
                                <p class="statement-intelligence-value">Statement Intelligence</p>
                            </div>
                        </div>
                        <div id="statement-detail-intelligence-container">
                            <div class="statement-detail-intelligence template" style="display : none;">
                                <div class="row">
                                    <div class="col-md-1 center-vertical" style="text-align:right;">
                                        <div>
                                            <span class="statement-detail-intelligence-no">XX</span>
                                        </div>
                                    </div>
                                    <div class="col-md-8 center-vertical" style="text-align: left;">
                                        <span class="statement-detail-intelligence-value"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="custom-sensory">
                                            <select name="select-score-statement-intelligence">
                                                @*<option disabled selected value="0"> -- SELECT AN OPTION -- </option>*@
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*END ASSESSMENT INTELLIGENCE*@

                <p style="text-align:center;">
                    <button class="button button-orange" id="button-start" style="display:none;">Start Assessment</button>
                    <button class="button button-secondary" id="button-prev" style="display:none;">Previous</button>
                    <button class="button button-primary" id="button-next" style="display:none;">Next</button>
                    <button class="button button-orange" id="button-finish" style="display:none;">Finish</button>
                </p>

                <p style="text-align:center;">
                    <button id="button-submit" class="button button-primary" style="display:none;">Submit</button>
                </p>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        var assessmentContainer=$("#assessment-container");
        var assessmentIntelligenceContainer=$("#assessment-intelligence-container");
        var assessmentSensoryContainer = $("#assessment-sensory-container");

        const ascii_A=65;

        $(document).ready(function() {
            
            if(localStorage.content!==undefined) {
                $("#target-id").html(localStorage.content);
                assessmentContainer=$("#assessment-container");
                assessmentIntelligenceContainer=$("#assessment-intelligence-container");
                assessmentSensoryContainer=$("#assessment-sensory-container");

                
            }
            else
            {
                $.ajax({
                    method: "GET",
                    url: "/api/assessment/getCurrentAssessment",
                    success: function(data) {
                                       
                        $("#assessment-title").text(data.assessmentTitle);
                        $("#assessment-description").text(data.assessmentDescription);
                    
                        let assessmentID=data.assessmentID;
                        let assessmentTypeID=parseInt(data.assessmentTypeID);


                        switch(assessmentTypeID) {
                            //return assessment intelligence
                            case 1 :
                                $.ajax({
                                    method: "GET",
                                    url: "/api/assessment/getCurrentAssessmentIntelligence",
                                    data: {
                                        assessmentID: assessmentID
                                    },
                                    success: function(data) {
                                        $("#button-start").show();

                                        let currentContainer=assessmentIntelligenceContainer;
                                        currentContainer=currentContainer.clone();
                                        currentContainer.removeClass("template");
                                        currentContainer.show();

                                        assessmentContainer.append(currentContainer);

                                        let test=assessmentContainer.find("#assessment-intelligence-container").first();
                                        data.statementIntelligences.forEach(function(statementIntelligence) {
                                            let template=assessmentIntelligenceContainer.find(".template").first();
                                            template=template.clone();
                                            template.removeClass("template");

                                            template.find(".statement-intelligence-no").text(
                                                test.find(".statement-intelligence").length+".");
                                            template.find(".statement-intelligence-value").text(
                                                statementIntelligence.statementIntelligence);

                                            statementIntelligence.statementDetailIntelligences.forEach(function(statementDetailIntelligence) {
                                                let currentDetailContainer=template.find("#statement-detail-intelligence-container").first();
                                                let templateDetail=currentDetailContainer.find(".template").first();
                                                templateDetail=templateDetail.clone();
                                                templateDetail.removeClass("template");
                                                templateDetail.show();

                                                templateDetail.find(".statement-detail-intelligence-no").text(
                                                    String.fromCharCode(currentDetailContainer.find(".statement-detail-intelligence:not(.template)").length+ascii_A)+".");
                                                templateDetail.find(".statement-detail-intelligence-value").text(statementDetailIntelligence.statementDetailIntelligence);

                                                let selectScore=templateDetail.find("select[name='select-score-statement-intelligence']");
                                                data.scoreIntelligences.forEach(function(scoreIntelligence) {
                                                    selectScore.append(
                                                        "<option value='"+scoreIntelligence.scoreValue+"'>"+scoreIntelligence.scoreWord+"</option>"
                                                    );
                                                });
                                                currentDetailContainer.append(templateDetail);
                                            });
                                            currentContainer.append(template);
                                        });
                                    }
                                });
                            
                                break;
                            //return assessment sensory
                            case 2:
                                $.ajax({
                                    method: "GET",
                                    url: "/api/assessment/getCurrentAssessmentSensory",
                                    data: {
                                        assessmentID: assessmentID
                                    },
                                    success: function(data) {
                                        $("#button-submit").show();

                                        let currentContainer = assessmentSensoryContainer;
                                        currentContainer =  currentContainer.clone();
                                        currentContainer.removeClass("template");
                                        currentContainer.show();

                                        data.scoreSensories.forEach(function(scoreSensory){                                        
                                            let template = currentContainer.find(".header-sensory").first();
                                        
                                            template = template.clone();
                                            template.removeClass("template");
                                            template.show();
                                        
                                            template.text(scoreSensory.scoreWord);

                                            currentContainer.find("thead>tr").append(template);


                                            let inputTemplate = currentContainer.find(".sensory-word").first();
                                            template = template.clone();
                                            template.removeClass("template");
                                            template.show();

                                            currentContainer.find("tbody>tr").append(inputTemplate);
                                        });

                                        data.scoreSensories.forEach(function(scoreSensory){
                                            let template = currentContainer.find(".sensory-word").first();
                                            template = template.clone();
                                            template.removeClass("template");
                                            template.show();
                                       
                                        
                                            currentContainer.find("tbody>tr").append(template);
                                        });

                                        $(data.statementSensories).each(function(index,statementSensory){
                                            let template = currentContainer.find(".row-sensory").first();
                                            template = template.clone();
                                            template.removeClass("template");
                                            template.show();

                                            template.find(".statement-sensory").text(statementSensory.statementSensory);
                                            template.find(".sensory").text(statementSensory.sensory.sensory);

                                            template.find("input[name='input-sensory']").attr('name', "row"+index);

                                            currentContainer.find("tbody").append(template);
                                        });

                                        assessmentContainer.append(currentContainer);
                                    }
                                });
                                break;
                            //return asssessment procrasinator
                            case 3:


                                break;
                        }
                    }
                });
            }
        });

        $("#button-start").click(function() {
            assessmentContainer.show();
            $("#button-next").show();
            let currentContainer = assessmentContainer.find("#assessment-intelligence-container").first();
            let assessmentIntelligences = currentContainer.find(".statement-intelligence:not(.template)");
            
            assessmentIntelligences.first().addClass("selected");
            assessmentIntelligences.first().show();
            
            $(this).hide();
        });


        $(document).on("change","select",function() {
            $("option[value="+this.value+"]",this)
                .attr("selected",true).siblings()
                .removeAttr("selected")
        });


        $(document).on("click","#button-next",function() {
            localStorage.content=$("#target-id").html();
            let currentContainer = assessmentContainer.find("#assessment-intelligence-container").first();
            let assessmentIntelligences=currentContainer.find(".statement-intelligence:not(.template,.selected)");
            let currentStatement = currentContainer.find(".selected");
            currentStatement.last().hide();
            
            assessmentIntelligences.first().addClass("selected");
            assessmentIntelligences.first().show();

            currentStatement=currentContainer.find(".selected");
            assessmentIntelligences = currentContainer.find(".statement-intelligence:not(.template)");

            if(assessmentIntelligences.length==currentStatement.length) {
                $(this).hide();
            }

            if(currentStatement.length > 1) {
                $("#button-prev").show();
            }
        });

        $(document).on("click","#button-prev",function() {
            localStorage.content = $("#target-id").html();
            let currentContainer = assessmentContainer.find("#assessment-intelligence-container").first();
            let currentStatement = currentContainer.find(".selected");
            currentStatement.last().hide();
            currentStatement.last().removeClass("selected");
            currentStatement = currentContainer.find(".selected");
            currentStatement.last().hide();
            currentStatement.last().removeClass("selected");

            let assessmentIntelligences = currentContainer.find(".statement-intelligence:not(.template,.selected)");
            assessmentIntelligences.first().show();
            assessmentIntelligences.first().addClass("selected");

            currentStatement = currentContainer.find(".selected");
            assessmentIntelligences = currentContainer.find(".statement-intelligence:not(.template)");
            console.log(currentStatement.length + " " + assessmentIntelligences.length);
            
            if(currentStatement.length<assessmentIntelligences.length) {
                $("#button-next").show();
            }

            if(currentStatement.length==1) {
                $(this).hide();
            }
        });

        $(document).on("change", "input[type='radio']", function(){
            localStorage.content=$("#target-id").html();
        });
    </script>
}
