
@{
    ViewBag.Title = "CaseDetail";
}

<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="box-container">
            <div class="single-content popup-content" id="target-id">
                <div class="page-sub-heading">
                    <h1><strong>Belbin’s Team Roles: A Self-Perception Inventory </strong></h1>
                    <p>
                        <strong>Instructions</strong><br />
                        For each section, distribute a total of ten points among the sentences that you think best describe
                        your behaviour. The points may be distributed among several sentences. In extreme cases they might
                        be spread among all the sentences or ten points may be given to a single sentence. Enter the points
                        alongside each sentence in the space provided. 
                    </p>
                </div>

                <div class="headerquestion" id="case-1">
                    <p>1. What I believe I can contribute to a team :</p>
                    <ol type="a">
                        <li>
                            I think I can quickly see opportunities and take advantage of them
                            <input type="number" min="0" max="10" name="detailquestion" value="" style="width:40px;" />
                        </li>
                        <li>
                            I can work well with all types of people
                            <input type="number" min="0" max="10" name="detailquestion" value="" style="width:40px;" />
                        </li>
                        <li>
                            I usually know what idea will really work
                            <input type="number" min="0" max="10" name="detailquestion" value="" style="width:40px;" />
                        </li>
                        <li>
                            My ability to follow a plan is due to my personal effectiveness
                            <input type="number" min="0" max="10" name="detailquestion" value="" style="width:40px;" />
                        </li>
                        <li>
                            My ability is being able to recognize talents in people and what they can contribute to group activities
                            <input type="number" min="0" max="10" name="detailquestion" value="" style="width:40px;" />
                        </li>
                        <li>
                            My technical knowledge and experience is usually my biggest strength 
                            <input type="number" min="0" max="10" name="detailquestion" value="" style="width:40px;" />
                        </li>
                        <li>
                            I am able to offer and argue for alternative courses of action without splitting the group or
                            causing injustice 
                            <input type="number" min="0" max="10" name="detailquestion" value="" style="width:40px;" />
                        </li>
                        <li>
                            Producing ideas is one of my biggest strengths
                            <input type="number" min="0" max="10" name="detailquestion" value="" style="width:40px;" />
                        </li>
                        <li>
                            I am ready to face temporary unpopularity if it leads to worthwhile results in the end
                            <input type="number" min="0" max="10" name="detailquestion" value="" style="width:40px;" />
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-2">
                    <p >2. If I have a possible shortcoming in teamwork, it could be that: </p>
                    <ol type="a">
                        <li>
                            I am not happy unless meetings are well structured and controlled and generally wellconducted
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            My critical outlook makes it difficult for me to join in readily and enthusiastically with
                            colleagues 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I find it difficult to lead from the front, perhaps I prefer to be one of the team 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I generally get caught up in ideas that occur to me and as a result lose track of what is
                            happening  
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            My colleagues see me as a person who worries unnecessarily over detailsl and the
                            possibility that things may go wrong 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am sometimes seen as forceful and authoritarian if there is a need to get something
                            done 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am usually generous towards others who have a clear viewpoint that has not been
                            listened to by others 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am reluctant to contribute, unless the subject being discussed deals with a area I know
                            well 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I have a tendency to talk too much once the group starts getting new ideas. 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-3">
                    <p >3. When involved with a project with other people: </p>
                    <ol type="a">
                        <li>
                            I can be guaranteed to contribute something original 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            My general carefulness prevents careless mistakes and omissions being made 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I have an talent for influencing people without pressurizing them 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am keen to look for the latest in new ideas and developments 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I try to maintain my sense of professionalism 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I believe that my capacity for making judgements can help to bring about the right
                            decisions
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am always ready to support a good suggestion in the common interest 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am ready to press for action to make sure that the meeting does not waste time or lose
                            sight of the main objective 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I can be relied upon to see that all essential work is organized 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-4">
                    <p >4. My characteristic approach to group work is that: </p>
                    <ol type="a">
                        <li>
                            I have a quiet interest in getting to know colleagues better 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            While I am interested in all views, I have no hesitation in making up my mind once a
                            decision has to be made 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am not reluctant to challenge the views of others or to hold a minority view of myself 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I think I have a talent for making things work once a plan has to be put into operation 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I have a tendency to avoid the obvious and I come out with the unexpected 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am ready to make use of contacts outside of the group itself 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I bring a touch of perfectionism to any job I undertake 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I can usually find a good argument to challenge weak ideas 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I contribute when I know what I am talking about 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-5">
                    <p >5. I gain satisfaction in a job because: </p>
                    <ol type="a">
                        <li>
                            I enjoy analyzing situations and checking up all the possible choices 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I feel that I am using my special qualifications and training to advantage 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I like to find a field that stretches my imagination
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I feel highly satisfied when I can give a job my full attention 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am interested in finding practical solutions to problems 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I like to feel I am building and maintaining good working relationships
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I like to meet people who may have something new to offer
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I can get people to agree on a necessary course of action 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I can have a strong influence on decision making 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-6">
                    <p >6. If I am suddenly given a difficult Task: with limited time and unfamiliar people: </p>
                    <ol type="a">
                        <li>
                            I tend to read up as much as I can on the subject 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I can keep doing a job in spite of the pressures
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I would open up discussions with a view to stimulating new thoughts and getting ideas
                            moving 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I believe that I would keep cool and maintain my capacity to think clearly
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I would find some way of reducing the size of the job by establishing what different
                            individuals might best contribute
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I would feel like to be alone to think of a way out of the problem before developing an
                            idea 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I would be prepared to take a positive lead If I felt the group was making no progress 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            My natural sense of urgency would help ensure that we did not fall behind schedule 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I would be ready to work with the person who showed the most positive approach 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-7">
                    <p >7. With reference to the problems to which I am subject while working in groups: </p>
                    <ol type="a">
                        <li>
                            I generally show my impatience with those who try to stop progress 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I hesitate to get my points across when I run up against real opposition
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am inclined to feel I am wasting my time and would do better on my own 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am conscious of demanding from others the things I cannot do myself 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I tend to get bored rather easily and rely on one or two stimulating members to motivate
                            me
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            My desire to ensure that work is properly done can hold up proceedings
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            Others may criticize me for being too analytical and insufficiently intuitive 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I find it difficult to get started unless the goals are clear 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                        <li>
                            I am sometimes poor at explaining and clarifying complex points that occur to me 
                            <input type="number" min="0" max="10" name="detailquestion" value=" " style="width:40px;" />
                        </li>
                    </ol>
                </div>

                


                <p>
                    
                    <a class="button button-secondary" id="prevBtn">Previous</a>
                    <a class="button button-primary" id="nextBtn">Next</a>
                       
                    <a  id="btnFinish" class="button button-orange">Finish</a>
                </p>




            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnFinish').click(function (e) {
                e.preventDefault();
                //validasi answer harus 10 
                var headerQuestions = $('.headerquestion');
                for (var i = 0 ; i < headerQuestions.length ; i++)
                {
                    var detailQuestions = $(headerQuestions[i]).find('[name=detailquestion]');
                    var result = 0;
                    var totalDetailQuestion = detailQuestions.length;
                    for (var j = 0 ; j < totalDetailQuestion ; j++) {
                        result += parseInt(detailQuestions[j].value) || 0;
                    }
                    console.log('Question ' + (i + 1) + ' : ' + result);

                    if (result != 10) {
                        alert('total answer case ke ' + (i + 1) + ' harus 10');
                        return;
                    }

                }
                
                var role1 = 0;
                role1 += parseInt($(headerQuestions[0]).find('[name=detailquestion]')[2].value) || 0;
                role1 += parseInt($(headerQuestions[1]).find('[name=detailquestion]')[0].value) || 0;
                role1 += parseInt($(headerQuestions[2]).find('[name=detailquestion]')[8].value) || 0;
                role1 += parseInt($(headerQuestions[3]).find('[name=detailquestion]')[3].value) || 0;
                role1 += parseInt($(headerQuestions[4]).find('[name=detailquestion]')[4].value) || 0;
                role1 += parseInt($(headerQuestions[5]).find('[name=detailquestion]')[1].value) || 0;
                role1 += parseInt($(headerQuestions[6]).find('[name=detailquestion]')[7].value) || 0;

                var role2 = 0;
                role2 += parseInt($(headerQuestions[0]).find('[name=detailquestion]')[4].value) || 0;
                role2 += parseInt($(headerQuestions[1]).find('[name=detailquestion]')[6].value) || 0;
                role2 += parseInt($(headerQuestions[2]).find('[name=detailquestion]')[2].value) || 0;
                role2 += parseInt($(headerQuestions[3]).find('[name=detailquestion]')[1].value) || 0;
                role2 += parseInt($(headerQuestions[4]).find('[name=detailquestion]')[7].value) || 0;
                role2 += parseInt($(headerQuestions[5]).find('[name=detailquestion]')[4].value) || 0;
                role2 += parseInt($(headerQuestions[6]).find('[name=detailquestion]')[3].value) || 0;

                var role3 = 0;
                role3 += parseInt($(headerQuestions[0]).find('[name=detailquestion]')[8].value) || 0;
                role3 += parseInt($(headerQuestions[1]).find('[name=detailquestion]')[5].value) || 0;
                role3 += parseInt($(headerQuestions[2]).find('[name=detailquestion]')[7].value) || 0;
                role3 += parseInt($(headerQuestions[3]).find('[name=detailquestion]')[2].value) || 0;
                role3 += parseInt($(headerQuestions[4]).find('[name=detailquestion]')[8].value) || 0;
                role3 += parseInt($(headerQuestions[5]).find('[name=detailquestion]')[6].value) || 0;
                role3 += parseInt($(headerQuestions[6]).find('[name=detailquestion]')[0].value) || 0;

                var role4 = 0;
                role4 += parseInt($(headerQuestions[0]).find('[name=detailquestion]')[7].value) || 0;
                role4 += parseInt($(headerQuestions[1]).find('[name=detailquestion]')[3].value) || 0;
                role4 += parseInt($(headerQuestions[2]).find('[name=detailquestion]')[0].value) || 0;
                role4 += parseInt($(headerQuestions[3]).find('[name=detailquestion]')[4].value) || 0;
                role4 += parseInt($(headerQuestions[4]).find('[name=detailquestion]')[2].value) || 0;
                role4 += parseInt($(headerQuestions[5]).find('[name=detailquestion]')[5].value) || 0;
                role4 += parseInt($(headerQuestions[6]).find('[name=detailquestion]')[8].value) || 0;

                var role5 = 0;
                role5 += parseInt($(headerQuestions[0]).find('[name=detailquestion]')[0].value) || 0;
                role5 += parseInt($(headerQuestions[1]).find('[name=detailquestion]')[8].value) || 0;
                role5 += parseInt($(headerQuestions[2]).find('[name=detailquestion]')[3].value) || 0;
                role5 += parseInt($(headerQuestions[3]).find('[name=detailquestion]')[5].value) || 0;
                role5 += parseInt($(headerQuestions[4]).find('[name=detailquestion]')[6].value) || 0;
                role5 += parseInt($(headerQuestions[5]).find('[name=detailquestion]')[2].value) || 0;
                role5 += parseInt($(headerQuestions[6]).find('[name=detailquestion]')[4].value) || 0;

                var role6 = 0;
                role6 += parseInt($(headerQuestions[0]).find('[name=detailquestion]')[6].value) || 0;
                role6 += parseInt($(headerQuestions[1]).find('[name=detailquestion]')[1].value) || 0;
                role6 += parseInt($(headerQuestions[2]).find('[name=detailquestion]')[5].value) || 0;
                role6 += parseInt($(headerQuestions[3]).find('[name=detailquestion]')[7].value) || 0;
                role6 += parseInt($(headerQuestions[4]).find('[name=detailquestion]')[0].value) || 0;
                role6 += parseInt($(headerQuestions[5]).find('[name=detailquestion]')[3].value) || 0;
                role6 += parseInt($(headerQuestions[6]).find('[name=detailquestion]')[6].value) || 0;

                var role7 = 0;
                role7 += parseInt($(headerQuestions[0]).find('[name=detailquestion]')[1].value) || 0;
                role7 += parseInt($(headerQuestions[1]).find('[name=detailquestion]')[2].value) || 0;
                role7 += parseInt($(headerQuestions[2]).find('[name=detailquestion]')[6].value) || 0;
                role7 += parseInt($(headerQuestions[3]).find('[name=detailquestion]')[0].value) || 0;
                role7 += parseInt($(headerQuestions[4]).find('[name=detailquestion]')[5].value) || 0;
                role7 += parseInt($(headerQuestions[5]).find('[name=detailquestion]')[8].value) || 0;
                role7 += parseInt($(headerQuestions[6]).find('[name=detailquestion]')[1].value) || 0;

                var role8 = 0;
                role8 += parseInt($(headerQuestions[0]).find('[name=detailquestion]')[3].value) || 0;
                role8 += parseInt($(headerQuestions[1]).find('[name=detailquestion]')[4].value) || 0;
                role8 += parseInt($(headerQuestions[2]).find('[name=detailquestion]')[1].value) || 0;
                role8 += parseInt($(headerQuestions[3]).find('[name=detailquestion]')[6].value) || 0;
                role8 += parseInt($(headerQuestions[4]).find('[name=detailquestion]')[3].value) || 0;
                role8 += parseInt($(headerQuestions[5]).find('[name=detailquestion]')[7].value) || 0;
                role8 += parseInt($(headerQuestions[6]).find('[name=detailquestion]')[5].value) || 0;

                var role9 = 0;
                role9 += parseInt($(headerQuestions[0]).find('[name=detailquestion]')[4].value) || 0;
                role9 += parseInt($(headerQuestions[1]).find('[name=detailquestion]')[7].value) || 0;
                role9 += parseInt($(headerQuestions[2]).find('[name=detailquestion]')[4].value) || 0;
                role9 += parseInt($(headerQuestions[3]).find('[name=detailquestion]')[8].value) || 0;
                role9 += parseInt($(headerQuestions[4]).find('[name=detailquestion]')[1].value) || 0;
                role9 += parseInt($(headerQuestions[5]).find('[name=detailquestion]')[0].value) || 0;
                role9 += parseInt($(headerQuestions[6]).find('[name=detailquestion]')[2].value) || 0;

                var arrfinalResult = [role1, role2, role3, role4, role5, role6, role7, role8, role9];
                var hasil = 0;
                for (var i = 1 ; i < arrfinalResult.length; i++)
                {
                    hasil = (arrfinalResult[hasil] > arrfinalResult[i]) ? hasil : i;
                }
                console.log("role 1 :" + role1 + " role 2 :" + role2 + " role 3 :" + role3 + " role 4 :" + role4 + " role 5 :" + role5 + " role 6 :" + role6 + " role 7 :" + role7 + " role 8 :" + role8 + " role 9 :" + role9);
                console.log("hasil :" + (hasil+1));
                



                var role = "";
                if((hasil+1) == 1)
                    role = "Implementor"
                else if ((hasil + 1) == 2)
                    role = "Coordinator"
                else if ((hasil + 1) == 3)
                    role = "Shaper"
                else if ((hasil + 1) == 4)
                    role = "Plant"
                else if ((hasil + 1) == 5)
                    role = "Resource Investigator"
                else if ((hasil + 1) == 6)
                        role = "Monitor Evaluator"
                else if ((hasil + 1) == 7)
                    role = "Team Worker"
                else if ((hasil + 1) == 8)
                    role = "Completer Finisher"
                else if ((hasil + 1) == 9)
                    role = "Specialist"

                console.log(role);

                //location.href = "FinalResult/"+role;
            });


            var case1 = $('#case-1');
            var case2 = $('#case-2');
            var case3 = $('#case-3');
            var case4 = $('#case-4');
            var case5 = $('#case-5');
            var case6 = $('#case-6');
            var case7 = $('#case-7');
            var finish = $('#btnFinish');
            var prv = $('#prevBtn');
            var nxt = $('#nextBtn');

            case2.hide();
            case3.hide();
            case4.hide();
            case5.hide();
            case6.hide();
            case7.hide();
            finish.hide();

            var indexClick = 0;

            prv.click(function () {
                indexClick--;
                if (indexClick < 0)
                    indexClick = 0
                else
                {
                    if (indexClick == 0)
                    {
                        case3.hide();
                        case4.hide();
                        case5.hide();
                        case6.hide();
                        case7.hide();
                        case2.hide();
                        finish.hide();
                        case1.show();
                    }
                    else if (indexClick == 1)
                    {
                        case3.hide();
                        case4.hide();
                        case5.hide();
                        case6.hide();
                        case7.hide();
                        case1.hide();
                        finish.hide();
                        case2.show();
                    }
                    else if (indexClick == 2)
                    {
                        case1.hide();
                        case4.hide();
                        case5.hide();
                        case6.hide();
                        case7.hide();
                        case2.hide();
                        finish.hide();
                        case3.show();
                    }
                    else if (indexClick == 3)
                    {
                        case2.hide();
                        case1.hide();
                        case5.hide();
                        case6.hide();
                        case7.hide();
                        case3.hide();
                        finish.hide();
                        case4.show();
                    }
                    else if (indexClick == 4)
                    {
                        case3.hide();
                        case4.hide();
                        case1.hide();
                        case6.hide();
                        case7.hide();
                        case2.hide();
                        finish.hide();
                        case5.show();
                    }
                    else if (indexClick == 5) {
                        case3.hide();
                        case1.hide();
                        case5.hide();
                        case2.hide();
                        case7.hide();
                        case4.hide();
                        finish.hide();
                        case6.show();
                        nxt.show(); 
                    }
               
                }
                
            });

            nxt.click(function () {
                

                if (validateJawab(indexClick) == true)
                {
                    indexClick++;
                    console.log(indexClick);
                }
                

               
                
                if (indexClick > 6)
                    indexClick = 6
                else
                {
                    if (indexClick == 1)
                    {
                        case1.hide();
                        case2.show();
                    }
                    else if (indexClick == 2) {
                        case2.hide();
                        case3.show();
                    }
                    else if (indexClick == 3) {
                        case3.hide();
                        case4.show();
                    }
                    else if (indexClick == 4) {
                        case4.hide();
                        case5.show();
                    }
                    else if (indexClick == 5) {
                        case5.hide();
                        case6.show();
                    }
                    else if (indexClick == 6) {
                        case6.hide();
                        case7.show();
                        finish.show();
                        nxt.hide();
                    }
                }
            });




            function validateJawab(angka)
            {
                
                var headerQuestions = $('.headerquestion');
               
                var detailQuestions = $(headerQuestions[angka]).find('[name=detailquestion]');
                    var result = 0;
                    var totalDetailQuestion = detailQuestions.length;
                    for (var j = 0 ; j < totalDetailQuestion ; j++) {
                        result += parseInt(detailQuestions[j].value) || 0;
                    }
                    console.log('Question ' + (angka+1) + ' : ' + result);

                    if (result != 10) {
                        alert('total answer case ke ' + (angka+1) + ' harus 10');
                        return false;
                    }

                return true;

            }





        });
    </script>
}
