@{
    /**/
    ViewBag.Title = "Binus University";
}

<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="widget-parent" id="widget-parent">
            <div class="row">
                <div class="column one-third">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Implementor</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column one-third">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Coordinator</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column one-third">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Shaper</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column one-third">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Plant</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column one-third">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Resource Investigator</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column one-third">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Monitor Evaluator</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column one-third">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Team Worker</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column one-third">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Completer Finisher</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column one-third">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Specialist</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>