@{
    /**/
    ViewBag.Title = "Binus University";
}

<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="widget-parent" id="widget-parent">
            <div class="row">
                <div class="column one-half">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap" >
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Your Intelligence TEST CHART</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Verbal - Linguistic</span>
                                <span class="comparison-value">2 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column one-half">
                    <div class="widget">
                        <div class="widget-head">
                            <span class="head-wrap">
                                <i class="icon icon-widget-statistic"></i>
                                <span class="label">
                                    <span class="title">Belbin's Role Type Chart</span>
                                </span>
                            </span>
                        </div>
                        <div class="widget-body">
                            <div class="widget-comparison">
                                <span class="current-value">Coordinator</span>
                                <span class="comparison-value">100.000 Mhs</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


@*@section scripts
{
    <script type="text/javascript">


        $.ajax
        ({
            method: "GET",
            url: "/api/assessment/getAllResult",

            success: function (data) {
              //  console.log(data);
                data.forEach(function (value)
                {

                    console.log(value.AssessmentIntelligence.Title);
                });


               


            }
        });



    </script>
}*@
