
@{
    ViewBag.Title = "ViewProcrastinatorAssessment";
}
<style>
    .zebra td {
        font-size: 17px;
        padding: 15px;
    }

    input[type=radio] {
        width: 1.3em;
        height: 1.2em;
    }

    #btnSubmit {
        margin-top: 20px;
    }
</style>

<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="box-container">
            <div class="single-content popup-content" id="target-id">
                <div class="page-sub-heading">
                    <h1><strong>Are You a Procrastinator ?</strong></h1>
                    <p>
                        <strong>Instructions</strong><br />
                        For each item, place a check mark in the column that most applies to you.
                        Give yourself 4 points for each item you checked strongly agree, 3 points for each item you checked mildly agree,
                        2 points for each item you checked mildly disagree, and 1 point for each item you checked strongly disagree.
                        Total your points: if you scored above 30, you likely are a severe procrastinator, 21-30 a chronic procrastinator,
                        and 20 or below an occasional procrastinator. If your score is 21 or above, seriously consider going to the college
                        counseling center for some guidance in conquering procrastination.
                    </p>
                </div>


                <table class="zebra">
                    <thead>
                        <tr>
                            <th>Assessment</th>
                            <th>Strongly Agree</th>
                            <th>Midly Agree</th>
                            <th>Midly Disagree</th>
                            <th>Strongly Disagree</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="headerquestion" id="case-1">
                            <td>I usually find reasons for not acting immediately on a difficult assignment.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word" value="1" />
                            </td>
                        </tr>

                        <tr class="headerquestion" id="case-2">
                            <td>I know what I have to do but frequently find that i have done something else.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word1" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word1" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word1" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word1" value="1" />
                            </td>
                        </tr>

                        <tr class="headerquestion" id="case-3">
                            <td>I carry my books/work assignments with me to various places but do not open them.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word2" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word2" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word2" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word2" value="1" />
                            </td>
                        </tr>

                        <tr class="headerquestion" id="case-4">
                            <td> I work best at the "last minute" when the pressure is really on.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word3" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word3" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word3" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word3" value="1" />
                            </td>
                        </tr>

                        <tr class="headerquestion" id="case-5">
                            <td>There are too many interruptions that interfere with my accomplishing my top priorities.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word4" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word4" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word4" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word4" value="1" />
                            </td>
                        </tr>

                        <tr class="headerquestion" id="case-6">
                            <td>I avoid forthright answers when pressed for an unpleasant or difficult decision.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word5" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word5" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word5" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word5" value="1" />
                            </td>
                        </tr>

                        <tr class="headerquestion" id="case-7">
                            <td> I take half measures which will avoid or delay unpleasant or difficult action.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word6" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word6" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word6" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word6" value="1" />
                            </td>
                        </tr>

                        <tr class="headerquestion" id="case-8">
                            <td>I have been too tired, nervous, or upset to do the difficult task that faces me.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word7" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word7" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word7" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word7" value="1" />
                            </td>
                        </tr>

                        <tr class="headerquestion" id="case-9">
                            <td>I like to get my room in order before starting a difficult task.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word8" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word8" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word8" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word8" value="1" />
                            </td>
                        </tr>

                        <tr class="headerquestion" id="case-10">
                            <td>I find myself waiting for inspiration before becoming involved in important study/work tasks.</td>
                            <td>
                                <input type="radio" class="subquestion" name="word9" value="4" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word9" value="3" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word9" value="2" />
                            </td>
                            <td>
                                <input type="radio" class="subquestion" name="word9" value="1" />
                            </td>
                        </tr>

                    </tbody>
                </table>


                <p style="text-align:center">
                    <a id="btnSubmit" class="button button-primary">Submit</a>
                </p>




            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnSubmit').click(function (e) {
                e.preventDefault();
                //validasi answer harus 10
                var headerQuestions = $('.headerquestion');
                var totalResult = 0;
                for (var i = 0 ; i < headerQuestions.length ; i++) {
                    var detailQuestions = $(headerQuestions[i]).find('.subquestion:checked');
                    var result = 0;
                    var totalDetailQuestion = detailQuestions.length;
                    for (var j = 0 ; j < totalDetailQuestion ; j++) {
                        result += parseInt(detailQuestions[j].value) || 0;
                        //            console.log(detailQuestions[j].value);
                        totalResult += result;
                    }
                    console.log('Question ' + (i + 1) + ' : ' + result);

                    if (result == 0) {
                        alert('Soal nomor ' + (i + 1) + ' harus pilih salah satu');
                        return;
                    }

                }
                console.log('Result : ' + totalResult);

                var role = "";
                if (totalResult >= 30)
                    role = "Severe Procrastinator"
                else if (totalResult >= 21 && totalResult <= 30)
                    role = "Chronic Procrastinator"
                else if (totalResult <= 20)
                    role = "Occasional Procrastinator"

                console.log(role);

                var test = "Procrastinator";

             //   location.href = "ResultAssessment/" + role + "/" + test;

            });
        });
    </script>
}




