@{
    ViewBag.Title = "Transaction - Binus Maya";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/transaction.css">
}

<div class="site-content" id="site-content">
    <section class="breadcrumb">
        <div class="container">
            <div class="wrap">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Transaction</a></li>
                    <li>Add Transaction</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="page-heading">
        <div class="container">
            <h1>Add Transaction</h1>
        </div>
    </section>

    <div class="main-content has-widget" id="main-content">
        <div class="container">
            <div class="box-container">
                <div class="single-content popup-content" id="target-id">
                    <div class="page-sub-heading">
                        <div class="row" style="height:30px;">
                            <div class="column two-thirds ">
                                <h2 style="line-height:40px;">Add Transaction</h2>
                            </div>
                            <div class="column one-third">
                                <p style="float:right;">
                                    <a href="#popup_confirmation" class="fancybox-trigger fancbox.ajax button button-primary" id="button_save">Save</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <form>
                            <span class="alert is-success" style="display: none;">
                                Data has been saved.
                            </span>
                            <p>
                                <label>Recipent</label>
                                <span class="custom-input">
                                    <input type="text" name="input-recipent" disabled>
                                    <span class="icon-area">
                                        <span href="#popup_recipent" class="fancybox-trigger fancbox.ajax icon icon-add "></span>
                                    </span>

                                </span>
                            </p>
                            <p>
                                <label>Assessment Type</label>
                                <span class="custom-combobox">
                                    <select id="select_id" name="select_assessment_type">
                                        <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                    </select>
                                </span>
                            </p>
                        </form>
                    </div>


                    <div class="freeze-pane" data-fixed-left="2" data-fixed-right="1" data-height="300">
                        <table class="bordered zebra">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>TITLE</th>
                                    <th>TYPE</th>
                                    <th>LAST UPDATE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>NO</td>
                                    <td>TITLE</td>
                                    <td>TYPE</td>
                                    <td>LAST UPDATE</td>
                                    <td>ACTION</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<div class="popup-content-dialog container" id="popup_recipent" style="display:none;">
    <div class="popup-content">
        <h2 class="heading" style="text-align:center">Add Recipient</h2>
        <div class="search-filter-form" id="RecipientFilter" style="min-height:50px;">
            <form>
                <div class="row content">
                    <div class="column one-half">
                        <p>
                            <label>INSTITUTION</label>
                            <span class="custom-combobox">
                                <select name="test">
                                    <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="column one-half">
                        <p>
                            <label>ACADEMIC CAREER</label>
                            <span class="custom-combobox">
                                <select name="test">
                                    <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="column one-half">
                        <p>
                            <label>CAMPUS</label>
                            <span class="custom-combobox">
                                <select name="test">
                                    <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="column one-half">
                        <p>
                            <label>ACADEMIC GROUP</label>
                            <span class="custom-combobox">
                                <select name="test">
                                    <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="column one-half">
                        <p>
                            <label>ACADEMIC ORGANIZATION</label>
                            <span class="custom-combobox">
                                <select name="test">
                                    <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="column one-half">
                        <p>
                            <label>ACADEMIC PROGRAM</label>
                            <span class="custom-combobox">
                                <select name="test">
                                    <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                </select>
                            </span>
                        </p>
                    </div>

                    <div class="column one-half">
                        <p>
                            <label>ACADEMIC YEAR</label>
                            <span class="custom-combobox">
                                <select name="test">
                                    <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="column one-half">
                        <p>
                            <label>STATUS</label>
                            <span class="custom-combobox">
                                <select name="test">
                                    <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="column">
                        <p align="right" style="margin:0 0 20px;">
                            <button class="button button-primary">Load</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="freeze-pane">
                <table class="bordered zebra">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" />
                            </th>
                            <th>NIM</th>
                            <th>NAME</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*RENDER STUDENT LIST WOULD BE ADD TO TRANSACTION TABLE*@
                    </tbody>
                </table>
            </div>

            <div class="column">
                <p align="right" style="margin-top : 20px;">
                    <button class="button button-primary">Add</button>
                </p>
            </div>
        </div>
    </div>
</div>



<div class="popup-content-dialog container" id="popup_confirmation" style="display:none;">
    <div class="popup-wrapper">
        <form>
            <p>Save confirmation</p>
            <div class="row action">
                <div class="col-md-6 popup-button-wrapper">
                    <button href="#popup_loading" class="fancybox-trigger fancbox.ajax button button-primary" id="button_yes">Yes</button>
                </div>

                <div class="col-md-6 popup-button-wrapper">
                    <button class="button button-primary" id="button_no">No</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="popup-content-dialog container" id="popup_loading" style="display:none;">
    <div class="loader-wrapper">
        <span class="loader">
            <span class="indicator"></span>
            <span class="progress-text">Loading...</span>
        </span>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax
                ({
                    method: "GET",
                    url: "/api/AssessmentType/getAll",
                    success: function(data) {

                    }
                });
        });
    </script>
}
