
@{
    ViewBag.Title = "AssessmentProcrasinator";
}

@*START ASSESSMENT PROCRASTINATOR*@
<div id="assessment-procrasinator" class="assessment-procrasinator template" style="display: none;">
    <div class="statements-procrasinator" id="statements-procrasinator-container">
        @*START HEADER STATEMENT PROCRASINATOR*@
        <div class="row">
            <div class="col-md-1 text-center">
                No
            </div>
            <div class="col-md-10 text-left">
                Statement
            </div>
            <div class="col-md-1 text-center">
                <span class="icon-add icon-button" id="button_add_statement_procrasinator"></span>
            </div>
        </div>
        @*END HEADER STATEMENT PROCRASINATOR*@
        @*START STATEMENT PROCRASINATOR*@
        <div class="row statement-procrasinator template" style="display:none;">
            <div class="col-md-1 center-vertical">
                <span class="statement-no">XX</span>
            </div>
            <div class="col-md-10">
                <span class="custom-statement">
                    <input class="input-field template" type="text" name="input-statement-procrasinator">
                    <span class="icon-area">
                        <span class="icon-reject remove-statement-procrasinator"></span>
                    </span>
                </span>
            </div>
        </div>
        @*END STATEMENT PROCRASINATOR*@
    </div>
    <div class="agreements" id="agreements-procrasinator-container">
        @*START HEADER AGREEMENT*@
        <div class="row">
            <div class="col-md-1 text-center">
                No
            </div>
            <div class="col-md-5 text-left">
                Agreement
            </div>
            <div class="col-md-5 text-left">
                Agreement Value
            </div>
            <div class="col-md-1 text-center">
                <span class="icon-add icon-button" id="button_add_agreement_procrasinator"></span>
            </div>
        </div>
        @*END HEADER AGREEMENT*@
        @*START TEMPLATE AGREEMENT*@
        <div class="row agreement template" style="display:none;">
            <div class="col-md-1 center-vertical">
                <span class="agreement-no">XX</span>
            </div>
            <div class="col-md-5">
                <input class="input-field template" type="text" name="input-agreement"/>
            </div>
            <div class="col-md-5">
                <input class="input-field template" type="text" name="input-agreement-value">
            </div>
            <div class="col-md-1 center-vertical">
                <span class="icon-reject icon-button" id="button_add_agreement_procrasinator"></span>
            </div>
        </div>
        @*END TEMPLATE AGREEMENT*@
    </div>

    <div class="scores-procrasinator">
        @*START HEADER score-procrasinator*@
        <div class="row">
            <div class="col-md-1 text-center">
                No
            </div>
            <div class="col-md-4 text-left">
                Score Word
            </div>
            <div class="col-md-3 text-left">
                Start Value
            </div>
            <div class="col-md-3 text-left">
                End Value
            </div>
            <div class="col-md-1 text-center">
                <span class="icon-add icon-button" id="button_add_score_procrasinator"></span>
            </div>
        </div>
        @*END HEADER SCORE-PROCRASINATOR*@
        <div id="scores-procrasinator-container">
            @*START TEMPLATE SCORE-PROCRASINATOR*@
            <div class="row score score-procrasinator template" style="display:none;">
                <div class="col-md-1 center-vertical">
                    <span class="score-no"></span>
                </div>
                <div class="col-md-4 text-center">
                    <input class="input-field template" type="text" name="input-score-word">
                </div>
                <div class="col-md-3 text-center">
                    <input class="allowNumeric input-field template" type="text" name="input-start-value">
                </div>
                <div class="col-md-3 text-center">
                    <input class="allowNumeric input-field template" type="text" name="input-end-value">
                </div>
                <div class="col-md-1 text-right center-vertical">
                    <span class="icon-reject icon-button remove-score-procrasinator"></span>
                </div>
            </div>
            @*END TEMPLATE SCORE-PROCRASINATOR*@
        </div>
    </div>
</div>
@*END ASSESSMENT PROCRASTINATOR*@

