<div class="popup-content-dialog container" id="popup_confirmation" style="display:none;">
    <div class="popup-wrapper">
        <form>
            <p>Save confirmation</p>
            <div class="row action">
                <div class="col-md-6 popup-button-wrapper">
                    @*<button href="#popup_loading" class="fancybox-trigger fancbox.ajax button button-primary" id="button_yes">Yes</button>*@
                    <button class="button button-primary" id="button_yes">Yes</button>
                </div>

                <div class="col-md-6 popup-button-wrapper">
                    <button class="button button-primary" id="button_no">No</button>
                </div>
            </div>
        </form>
    </div>
</div>