<div class="popup-content-dialog container" id="popup_error" style="display:none;">
    <div class="icon-wrapper">
        <span class="icon icon-reject">
        </span>
        <span class="progress-text error-text">an error occurred</span>
    </div>
</div>