.popup-recipent-wrapper
{
    width : 100%;
}


#popup_recipent
{
    width : 100%;
    height : 100%;
}

.popup .popup-content {
    width: 900px;
    height: 600px;
    padding: 0px;
}


#popup_recipent .dataTables_scrollHeadInner
{
    width : 100% !important;
}

#popup_recipent table
{
    width : 100% !important;
}