@*@model ProjectFEP.ViewModel.AddCaseViewModel*@

@{
    ViewBag.Title = "Assessment - Binus Maya";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/AddAssessment.css">
}

<div class="site-content" id="site-content">
    <section class="breadcrumb">
        <div class="container">
            <div class="wrap">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Assessment</a></li>
                    <li>Add Assessment</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="page-heading">
        <div class="container">
            <h1>Add Assessment</h1>
        </div>
    </section>

    <div class="main-content has-widget" id="main-content">
        <div class="container">
            <div class="box-container">
                <div class="single-content popup-content" id="target-id">
                    <div class="page-sub-heading">
                        <div class="row" style="height:30px;">
                            <div class="column two-thirds ">
                                <h2 style="line-height:40px;">Assessment Detail</h2>
                            </div>
                            <div class="column one-third">
                                <p style="float:right;">
                                    <a href="#popup_confirmation" class="fancybox-trigger fancbox.ajax button button-primary" id="button_save">Save</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <form class="hapusQuestion">
                        <p>
                            <label>Assessment Type</label>
                            <span class="custom-combobox"> 
                                <select id="select_assessment_type" name="casetype" onclick="changeTest();">
                                    <option disabled selected value="0"> -- SELECT AN OPTION -- </option>
                                    <option value="1">Intelligence Type </option>
                                    <option value="2"> Procrasnator Type </option>
                                    <option value="3"> Sensory Type </option>
                                </select>
                            </span>
                        </p>

                        <p>
                            <label>Assessment Title<span class="required">*</span></label>
                            <input type="text" name="input_assessment_title">
                        </p>

                        <p>
                            <label>Description<span class="required">*</span></label>
                            <textarea name="textarea_description"></textarea>
                        </p>

                        <!--Case Intelligence-->
                        <div id="createCase" class="statement">
                            <p>
                                <a class="button button-primary with-icon icon-btn-add" onclick="appendCase();">Subquestion </a>
                            </p>

                            <p>
                                <label>1<span class="required">*</span></label>
                                <input type="text" name="input_statements[]"/>
                            </p>

                            <ol type="a" id="parentchoice0">
                                <li>
                                    <p>
                                        <input class="input_statement_details[]" type="text" name="input_statement_details[]" style="display:inline-block; width:97%;" />
                                    </p>
                                </li>
                            </ol>

                            <p>
                                <a onclick="appendChoice(0);" class="button button-primary with-icon icon-btn-add">Choice </a>
                            </p>
                        </div>


                        <!--Case Procrasnator-->

                        <div id="createCaseProcrastonator">
                            <p>
                                <a onclick="addScoreProcrastinator();" class="button button-primary with-icon icon-btn-add">Score </a>
                            </p>
                            Kolom Jawaban
                            <div class="row content addScoreProcrastinator">

                                <div class="column">
                                    <p>
                                        <label>Score</label>
                                        <input type="text" name="" />
                                    </p>
                                </div>
                                <div class="column">
                                    <p>
                                        <label>Word</label>
                                        <input type="text" name="" />
                                    </p>
                                </div>
                            </div>

                            <p>
                                <a class="button button-primary with-icon icon-btn-add" onclick="appendCaseProcrastinator();">Subquestion </a>
                            </p>
                            Soal
                            <p>
                                <label>1<span class="required">*</span></label>
                                <input type="text" name="rowsp[case][0]" />
                            </p>
                        </div>


                        <!--Case Sensory-->
                        <div id="createCaseSensory">
                            <div class="row content addscoresensory">
                                <div class="column" style="margin-top:10px;">
                                    <p>
                                        <a onclick="appendScoreSensory();" class="button button-primary with-icon icon-btn-add">Score</a>
                                    </p>
                                </div>

                                <div class="column">
                                    <p>
                                        <label>Score</label>
                                        <input type="text" name="" />
                                    </p>
                                </div>
                                <div class="column">
                                    <p>
                                        <label>Word</label>
                                        <input type="text" name="" />
                                    </p>
                                </div>
                            </div>


                            <div class="row content addcasesensory">
                                <p>
                                    <a class="button button-primary with-icon icon-btn-add" onclick="appendcasesensory();">Subquestion </a>
                                </p>

                                Soal
                                <p>
                                    <label>1<span class="required">*</span></label>
                                    <input type="text" name="" />
                                </p>
                                <ol style="list-style-type:none">
                                    <li>
                                        <p>
                                            Keyword : <input class="input_statement_details[]" type="text" name="input_statement_details[]" style="display:inline-block; width:97%;" />
                                        </p>
                                    </li>
                                </ol>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-content-dialog" id="popup_confirmation" style="display:none;"> 
    <form>
        <p>Save confirmation</p>
        <div class="action" style="text-align:center;">
            <a href="#" class="button button-primary" id="button_yes">Yes</a>
            <a href="#" class="button button-primary" id="button_no">No</a> 
        </div>
    </form>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#createCase').show();
            $('#createCaseProcrastonator').hide();
            $('#createCaseSensory').hide();

        });

        //----------- JAVASCRIPT UNTUK CASE INTELLIGENCE ---------------//

        var idx = 1;
        var hapusChoice = 0;

        function appendChoice(parentchoice) {
            var handler = $('#parentchoice' + parentchoice);
            handler.append
                (
                '<div class="subchoice' + hapusChoice + '">' +
                    '<li>' +
                        '<p>' +
                            '<input class="input_statement_details[]" type="text" name="input_statement_details[]"  style="display:inline-block; width:97%;"/>' +
                            '<a onclick="deletes(' + hapusChoice + ')"> <i class="icon icon-trash"></i></a>' +
                        '</p>' +
                    '</li>' +
                '</div>'
                );
            idx++;
            hapusChoice++;
        }

        function deletes(id) {
            var deletex = $('.subchoice' + id);
            deletex.html('');
        }




        var nomorSoal = 2;
        var parentchoice = 1;

        

        function appendCase() {
            var handler = $('.hapusQuestion');
            handler.append(
                '<div id="createCase' + parentchoice + '" class=""statement"">' +
                    '<p>' +
                        '<a onclick="deletescase(' + parentchoice + ')"> <i class="icon icon-trash"></i></a>' +
                        '<label>' + nomorSoal + '<span class="required">*</span></label>' +
                        '<input type="text" name="input_statements[]"/>' +
                    '</p>' +
                    '<ol type="a" id="parentchoice' + parentchoice + '">' +
                        '<li>' +
                            '<p>' +
                                '<input type="text" name="input_statement_details[]" value=" "  style="display:inline-block; width:97%;"/>' +
                            '</p>' +
                        '</li>' +
                    '</ol>' +
                    '<p>' +
                        '<a onclick="appendChoice(' + parentchoice + ');" class="button button-primary with-icon icon-btn-add" >Choice </a>' +
                    '</p>' +
                '</div>'
            );
            nomorSoal++;
            parentchoice++;
        }

        function deletescase(id) {
            var deletex = $('#createCase' + id);
            deletex.html('');
            nomorSoal--;
        }



        function clearIntelligence() {

            for (var i = 0; i < hapusChoice; i++) {
                var deletex = $('.subchoice' + i);
                deletex.html('');

            }

            for (var j = 1; j < parentchoice; j++) {
                var deletex = $('#createCase' + j);
                deletex.html('');
                nomorSoal = 2;
            }

        }




     

        //----------- JAVASCRIPT UNTUK CASE PROCRASTINATOR ---------------//

        function appendCaseProcrastinator() {
            var handler = $('.hapusQuestion');
            handler.append('<div id="createCaseProcrastonator' + parentchoice + '">' +
                '<p>' +
                '<a onclick="deletescaseProcrastinator(' + parentchoice + ')"> <i class="icon icon-trash"></i></a>' +
                '<label>' + nomorSoal + '<span class="required">*</span></label>' +
                '<input type="text" name=""/>' +
                '</p>' +
                '</div>'
            );
            nomorSoal++;
            parentchoice++;
        }

        function deletescaseProcrastinator(id) {
            var deletex = $('#createCaseProcrastonator' + id);
            deletex.html('');
            nomorSoal--;
        }

        var index = 1;
        function addScoreProcrastinator() {
            var handler = $('.addScoreProcrastinator');
            handler.append(
                '<div class="proc' + index + '">' +
                '<div class="column">' +
                '<p>' +
                '<label>' +
                'Score' +
                '<a onclick="deleteScore(' + index + ')"> <i class="icon icon-trash"></i></a>' +
                '</label>' +
                '<input type="text" name="" />' +
                '</p>' +
                '</div>' +
                '<div class="column">' +
                '<p>' +
                '<label>Word</label>' +
                '<input type="text" name="" />' +
                '</p>' +
                '</div>' +
                '</div>'
            );
            index++;
        }

        function deleteScore(id) {
            var deletex = $('.proc' + id);
            deletex.html('');
        }


        function clearProcrastinator() {

            for (var i = 1; i <= parentchoice; i++) {
                var deletex = $('#createCaseProcrastonator' + i);
                deletex.html('');
                nomorSoal = 2;
            }
            for (var j = 0; j < index; j++) {
                var deletex = $('.proc' + j);
                deletex.html('');
            }

        }



        //----------- JAVASCRIPT UNTUK CASE SENSORY ---------------//

        var scoresensoryindex = 1;
        function appendScoreSensory() {
            var handler = $('.addscoresensory');
            handler.append(
                '<div class="scoresensory' + scoresensoryindex + '">' +
                '<div class="column">' +
                '<p>' +
                '<label>' +
                'Score ' +
                '<a onclick="deletescoresensory(' + scoresensoryindex + ')"> <i class="icon icon-trash"></i></a>' +
                '</label>' +
                '<input type="text" name="" />' +
                '</p>' +
                '</div>' +
                '<div class="column">' +
                '<p>' +
                '<label>Word</label>' +
                '<input type="text" name="" />' +
                '</p>' +
                '</div>' +
                '</div>'
            );

            scoresensoryindex++;
        }

        function deletescoresensory(id) {
            var deletex = $('.scoresensory' + id);
            deletex.html('');
        }


        var nomorSoalsensory = 2;
        var casesensoryindex = 1;

        function appendcasesensory() {
            var handler = $('.addcasesensory');
            handler.append('<div id="createCaseSensory' + casesensoryindex + '">' +
                '<p>' +
                '<a onclick="deletescasesensory(' + casesensoryindex + ')"> <i class="icon icon-trash"></i></a>' +
                '<label>' + nomorSoalsensory + '<span class="required">*</span></label>' +
                '<input type="text" name=""/>' +
                '<ol style="list-style-type:none">'+
                '<li>'+
                '<p>'+
                'Keyword : <input class="input_statement_details[]" type="text" name="input_statement_details[]" style="display:inline-block; width:97%;" />'+
                '</p>'+
                '</li>'+
                '</ol>' +
                '</p>' +
                '</div>'
                );
            nomorSoalsensory++;
            casesensoryindex++;
        }

        function deletescasesensory(id) {
            var deletex = $('#createCaseSensory' + id);
            deletex.html('');
            nomorSoalsensory--;
        }


        function clearSensory() {

            for (var i = 1; i < casesensoryindex; i++) {
                var deletex = $('#createCaseSensory' + i);
                deletex.html('');
                nomorSoalsensory = 2;
            }
            for (var j = 1; j < scoresensoryindex; j++) {
                var deletex = $('.scoresensory' + j);
                deletex.html('');
            }
           

        }





        function changeTest() {
            var casetype = $('select[name=casetype]').val();

            if (casetype == 1) {
                $('#createCase').show();
                $('#createCaseProcrastonator').hide();
                $('#createCaseSensory').hide();
                clearProcrastinator();
                clearSensory();

            }
            else if (casetype == 2) {
                $('#createCase').hide();
                $('#createCaseProcrastonator').show();
                $('#createCaseSensory').hide();
                clearIntelligence();
                clearSensory();
            }
            else if (casetype == 3) {
                $('#createCase').hide();
                $('#createCaseProcrastonator').hide();
                $('#createCaseSensory').show();
                clearProcrastinator();
                clearIntelligence();
            }
        }
    </script>

    <script type="text/javascript">
        var statements = [];
        var statementDetails = [];
        var index = 0;
        
        $(document).ready(function () {
            $.ajax
                ({
                    method: "GET",
                    url: "/api/assessment/getAll",
                    success: function (data) {                     
                        data.forEach(function (value) {
                            $("#select_assessment_type").append("<option value=" + value.AssessmentTypeID + ">" + value.AssessmentType + "</option>")
                        });
                    }
                });    
        });

        $("#button_yes").click(function () {
            index = 0;
            $("input[name='input_statements[]']").each(function () {
                $("#createCase" + index).find("input[name='input_statement_details[]']").each(function () {
                    statementDetails.push
                        ({ statementDetail: $(this).val() });
                });

                statements.push
                    ({
                        statement: $(this).val(),
                        statementDetails: statementDetails
                    });
                statementDetails = [];

                index++;
            });

            $.ajax
                ({
                    method: "POST",
                    url: "/api/assessment/post",
                    data:
                    {
                        title: "assessment_test",
                        description: "description_Test",
                        type: "type_test",
                        statements: statements  
                    },
                    success: function (data)
                    {
                        console.log(data);
                    }
                });
        });

    </script>
}

