
@{
    ViewBag.Title = "Master Assessment - Binus Maya";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/AddAssessment.css">
}

<div class="site-content" id="site-content">
    <section class="breadcrumb">
        <div class="container">
            <div class="wrap">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Assessment</a></li>
                    <li>Manage Assessment</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="page-heading">
        <div class="container">
            <h1>Manage Assessment</h1>
        </div>
    </section>

    <div class="main-content has-widget" id="main-content">
        <div class="container">
            <div class="box-container">
                <div class="single-content popup-content" id="target-id">
                    <div class="page-sub-heading">
                        <div class="row" style="height:30px;">
                            <div class="column two-thirds ">
                                <h2 id="page" class="page-heading" style="line-height:40px;">Master Assessment</h2>
                            </div>
                            <div class="column one-third">
                                <p style="float:right;">
                                    <a href="#popup_confirmation" class="fancybox-trigger fancbox.ajax button button-primary" id="button_save">Add Case</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="freeze-pane">
                        <table class="bordered zebra" id="myTable">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>TITLE</th>
                                    <th>ASSESSMENT TYPE</th>
                                    <th>LAST UPDATE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Belbins Role
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        2018-05-07 15:24:44
                                    </td>
                                    <td>
                                        <span>
                                            <a href="#">
                                                <i class="icon-edit"></i>
                                            </a>
                                        </span>

                                        <span>
                                            @Html.ActionLink(" ", "CaseDetail", "Home")
                                            <a href="CaseDetail">
                                                <i class="icon-view"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-content-dialog" id="popup_confirmation" style="display:none;">
    <form>
        <p>Save confirmation</p>
        <div class="action" style="text-align:center;">
            <a href="#" class="button button-primary" id="button_yes">Yes</a>
            <a href="#" class="button button-primary" id="button_no">No</a>
        </div>
    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        $.ajax
            ({
                method: "GET",
                url: "/api/assessment/getAllAssessment",
                
                success: function (data) {
                    console.log(data);
                }
            });
    </script>
}
