
@{
    ViewBag.Title = "Master Assessment - Binus Maya";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/Content/css/AddAssessment.css">
}

<div class="site-content" id="site-content">
    <section class="breadcrumb">
        <div class="container">
            <div class="wrap">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Assessment</a></li>
                    <li>Manage Assessment</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="page-heading">
        <div class="container">
            <h1>Manage Assessment</h1>
        </div>
    </section>

    <div class="main-content has-widget" id="main-content">
        <div class="container">
            <div class="box-container">
                <div class="single-content popup-content" id="target-id">
                    <div class="page-sub-heading">
                        <div class="row" style="height:30px;">
                            <div class="column two-thirds ">
                                <h2 id="page" class="page-heading" style="line-height:40px;">Master Assessment</h2>
                            </div>
                            <div class="column one-third">
                                <p style="float:right;">
                                    <a href="#popup_confirmation" class="fancybox-trigger fancbox.ajax button button-primary" id="button_save">Add Case</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    @*<p id="tipesoal">
                            <input type="radio" name="tipe" value="intelligence"/>Intelligence
                            <input type="radio" name="tipe" value="sensory"/>Sensory
                            <input type="radio" name="tipe" value="procrastinator"/>Procrastinator
                        </p>*@



                    <div class="freeze-pane">
                        <table class="bordered zebra" id="myTable">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>TITLE</th>
                                    <th>TYPE</th>
                                    <th>LAST UPDATE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-content-dialog" id="popup_confirmation" style="display:none;">
    <form>
        <p>Save confirmation</p>
        <div class="action" style="text-align:center;">
            <a href="#" class="button button-primary" id="button_yes">Yes</a>
            <a href="#" class="button button-primary" id="button_no">No</a>
        </div>
    </form>
</div>

@section scripts
{
    <script type="text/javascript">
        //$.ajax({
        //        method:"GET",
        //        url :  "/api/assessmenttype/getAll",
        //        success: function(data)
        //        {
        //            console.log(data);
        //        }
        //    });
            
        $.ajax
                    ({
                        method: "GET",
                        url: "/api/assessment/getAllAssessmentList",

                        success: function (data) {
                            console.log(data);

                            var output = [], l = data.length, i;
                            var cekBinusianID = "";


                            for (i = 0 ; i < l ; i++) {
                                console.log(data[i].ResultAssessments);
                          //      output.push(appendDataTableRows((i + 1), data[i].AssessmentTitle, data[i].AssessmentType.AssessmentType, data[i].LastUpdate, data[i].AssessmentID, data[i].AssessmentType.AssessmentTypeID));

                                if (data[i].ResultAssessments.length != 0) {
                                    if (data[i].ResultAssessments[0].BinusianID == "bn190151515") {
                                        cekBinusianID = "ada";
                                        output.push(appendDataTableRows((i + 1), data[i].AssessmentTitle, data[i].AssessmentType.AssessmentType, data[i].LastUpdate, data[i].AssessmentID, data[i].AssessmentType.AssessmentTypeID, cekBinusianID));
                                    }
                                    else {
                                        cekBinusianID = "tidakada";
                                        output.push(appendDataTableRows((i + 1), data[i].AssessmentTitle, data[i].AssessmentType.AssessmentType, data[i].LastUpdate, data[i].AssessmentID, data[i].AssessmentType.AssessmentTypeID, cekBinusianID));
                                    }
                                } else {
                                    cekBinusianID = "tidakada";
                                    output.push(appendDataTableRows((i + 1), data[i].AssessmentTitle, data[i].AssessmentType.AssessmentType, data[i].LastUpdate, data[i].AssessmentID, data[i].AssessmentType.AssessmentTypeID, cekBinusianID));
                                }

                                $table = $('#myTable').DataTable();
                                $table.clear();
                                $table.rows.add(output);
                                $table.draw();
                            }
                        }
                    });



        function appendDataTableRows(no, title, type, lastupdate,idAssessment,tipeIdAssessment,cekBinusian,resultIdAssessment) {
            // , idx, checkBinusian, idResulTest, tipetest


            var url = "@Url.Action("ShowAssessment", "Assessment",new { id = "-1" ,tipeid = "tipe"})";
            url = url.replace("-1", idAssessment);
            url = url.replace("tipe", tipeIdAssessment);


            var urlView = "@Url.Action("ResultPage", "Assessment", new { id = "-1", tipeid = "tipe" })";
            urlView = urlView.replace("-1", idAssessment);
            urlView = urlView.replace("tipe", tipeIdAssessment);



            var d = new Date(lastupdate);


            if (cekBinusian == "ada") {
                var array = [
                    "<tr>" +
                    "<td>" + no + "</td>" +
                    "</tr>",

                    "<tr>" +
                    "<td>" + title + "</td>" +
                    "</tr>",

                    "<tr>" +
                    "<td>" + type + "</td>" +
                    "</tr>",

                    "<tr>" +
                    "<td>" + d.toLocaleString() + "</td>" +
                    "</tr>",

                    "<tr>" +
                    "<td>" +

                    "<a href='" + urlView + "'>" +
                    "<span style='cursor: pointer'><i class='icon-view'></i></span>" +
                    "</a>" +


                    "</td>" +
                    "</tr>"
                ];
            }
            else if (cekBinusian == "tidakada")
            {
                var array = [
                    "<tr>" +
                    "<td>" + no + "</td>" +
                    "</tr>",

                    "<tr>" +
                    "<td>" + title + "</td>" +
                    "</tr>",

                    "<tr>" +
                    "<td>" + type + "</td>" +
                    "</tr>",

                    "<tr>" +
                    "<td>" + d.toLocaleString() + "</td>" +
                    "</tr>",

                    "<tr>" +
                    "<td>" +

                    "<a href='" + url + "'>" +
                    "<span style='cursor: pointer'> <i class='icon-edit'></i> </span>" +
                    "</a>" +


                    "</td>" +
                    "</tr>"
                ];
            }




            return array;
        };





    </script>
}
