
@{
    ViewBag.Title = "ResultAssessment";
    var role = HttpContext.Current.Server.UrlDecode(Request.Url.Segments[3]);
    var test = HttpContext.Current.Server.UrlDecode(Request.Url.Segments[4]);

    var rolesss =  role.Split('/');
    var hasilTest = rolesss[0];
}
<style>
    body {
    }

    .tk-title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .role-title {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .role-description {
        text-align: center;
        font-weight: 700;
    }

    #myTable_length label {
        line-height: 80px !important;
    }

    .headerquestion > p, .headerquestion > ol {
        font-size: 14px;
        font-weight: 700;
    }

        .headerquestion > ol > li {
            padding-bottom: 10px;
        }

    .gambar {
        background: url(../template/images/logo.png) no-repeat top left;
        display: block;
        width: 150px;
        height: 80px;
    }
</style>


<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="box-container">
            <div class="single-content popup-content" id="target-id">
                <h1 class="tk-title">THANKYOU, HENDRA EFFENDI</h1>

                <blockquote>
                    <h3 class="role-title">Your Psikotest @test Result</h3>
                    @using (Html.BeginForm())
                    {
                        if (role == "")
                        {
                            role = "none";
                        }
                        <h1 class="tk-title">@hasilTest</h1>

                        if (hasilTest == "Verbal-Linguistic")
                        {
                            <h3 class="role-description">
                                Great Books, Composition, History
                            </h3>
                        }
                        else if (hasilTest == "none")
                        {
                            <h3 class="role-description">
                                Please Fill the Test First!
                            </h3>
                        }
                        else if (hasilTest == "Logical-Mathematical")
                        {
                            <h3 class="role-description">
                                Algebra, Philosophy, Chemistry
                            </h3>
                        }
                        else if (hasilTest == "Musical")
                        {
                            <h3 class="role-description">
                                Music Appreciation, Orchestra
                            </h3>
                        }
                        else if (hasilTest == "Bodily-Kinesthetic")
                        {
                            <h3 class="role-description">
                                Recreation Studies, Engineering
                            </h3>
                        }
                        else if (hasilTest == "Spatial")
                        {
                            <h3 class="role-description">
                                Geometry, Art, Computer Science
                            </h3>
                        }
                        else if (hasilTest == "Interpersonal")
                        {
                            <h3 class="role-description">
                                Pyschology, Sociology, Nursing
                            </h3>
                        }
                        else if (hasilTest == "Intrapersonal")
                        {
                            <h3 class="role-description">
                                Religious Studies, Film Studies
                            </h3>
                        }
                        else if (hasilTest == "Naturalist")
                        {
                            <h3 class="role-description">
                                Biology, Evolution, Forensic Science
                            </h3>
                        }


                    }
                </blockquote>
            </div>
        </div>
    </div>
</div>


