
@{
    ViewBag.Title = "ViewProcrastinatorAssessment";
}


<div class="main-content has-widget" id="main-content">
    <div class="container">
        <div class="box-container">
            <div class="single-content popup-content" id="target-id">
                <div class="page-sub-heading">
                    <h1><strong>Are You a Procrastinator ?</strong></h1>
                    <p>
                        <strong>Instructions</strong><br />
                        For each item, place a check mark in the column that most applies to you.
                    </p>
                </div>

                <div class="headerquestion" id="case-1">
                    <p>1. I usually find reasons for not acting immediately on a difficult assignment.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-2">
                    <p>2. I know what I have to do but frequently find that i have done something else.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-3">
                    <p>3. I carry my books/work assignments with me to various places but do not open them.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-4">
                    <p>4. I work best at the "last minute" when the pressure is really on.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-5">
                    <p>5. There are too many interruptions that interfere with my accomplishing my top priorities.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-6">
                    <p>6. I avoid forthright answers when pressed for an unpleasant or difficult decision.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-7">
                    <p>7. I take half measures which will avoid or delay unpleasant or difficult action.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>
                <div class="headerquestion" id="case-8">
                    <p>8. I have been too tired, nervous, or upset to do the difficult task that faces me.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-9">
                    <p>9. I like to get my room in order before starting a difficult task.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>

                <div class="headerquestion" id="case-10">
                    <p>10. I find myself waiting for inspiration before becoming involved in important study/work tasks.</p>
                    <ol style="list-style-type:none">
                        <li>
                            <input type="radio" name="word" value="4" /> Strongly Agree
                            <input type="radio" name="word" value="3" /> Midly Agree
                            <input type="radio" name="word" value="2" /> Midly Disagree
                            <input type="radio" name="word" value="1" /> Strongly Disagree
                        </li>
                    </ol>
                </div>



                <p style="text-align:center">
                    <a class="button button-primary">Submit</a>
                </p>




            </div>
        </div>
    </div>
</div>